/*  print.css - MoinMoin Default Styles

    Copyright: 2001, 2002, 2003 MoinMoin:JuergenHermann
    Copyright: 2010 MoinMoin:RogerHaase
    License: GNU GPL v2 or later, see COPYING for details.
*/

/* user is expected to use page setup to set margins and print background images (smileys) */

/* content */
html { font-family: Times, serif; font-size: 12pt; width: 100%;}
body, #moin-page, #moin-page, #moin-content-data { margin: 0; padding: 0}

a, a:visited, a.nonexistent, 
a.badinterwiki { color: black; text-decoration: none; }

a.interwiki:before, a.badinterwiki:before { content: attr(title) ":"; }
a.interwiki img, a.badinterwiki img { display: none; }

pre { font-size: 10pt; }
.footnotes div { width: 5em; border-top: 1pt solid gray; }

/* user interface - do not display */
#moin-header, #moin-sidebar, #moin-footer, #moin-timings, #moin-credits, #moin-interwiki, 
#moin-pagelocation { display: none; }

/* page-bottom */
#moin-pageinfo { color: gray; font-size: .67em; float: right; }
#moin-pageinfo a { color: gray; }
