{#
    Renders a list of available templates containing boilerplate that may assist the user in creating a new item.

    This page is only displayed if items with a tag of "template" and the same content type exist.
    Note moin templates are not the same as jinja templates.
#}

{% extends theme("show.html") %}

{% block content %}
    <h1>{{ _("Create new item?") }}</h1>
    <p>
        {{ _("You can either <a href='{modifyhref}'>create the item from scratch</a> or select a template.").format(modifyhref=url_for('frontend.modify_item', item_name=fqname, itemtype=itemtype, contenttype=contenttype, template='') ) }}
    </p>
    <h2>{{ _("Available template items") }}</h2>
    <ul>
        {% for template in templates %}
            <li>
                <a href="{{ url_for('frontend.modify_item', item_name=fqname, itemtype=itemtype, contenttype=contenttype, template=template) }}">{{ template }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
