{#
    As of July, 2017, this template is bypassed and the default (moinwiki) item type is selected.
    See issue #576: Links to tickets and blogs removed from UI, both are broken, incomplete

    Renders links to varios item types (default (moinwiki), ticket, blog).
    User must choose one to create an item.
#}

{% extends theme("show.html") %}
{% block content %}
    <h1>{{ _("Item not found, create it now?") }}</h1>
    <p>
        {{ _("Item '{fqname}' does not exist (yet), but you can try creating it now. Please select the type of the item you want to create.").format(fqname=fqname) }}
    </p>
    <table class="zebra">
        {% for e in itemtypes %}
            <tr>
                <td>
                    <a href="{{ url_for('frontend.modify_item', item_name=fqname, itemtype=e.itemtype) }}">{{ e.display_name }}</a> - {{ e.description }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
