{#
    This template defines extra_head and data_editor macros that are selected
    within content.py based on the item's content type.
    Both will be passed to the modify.html template.

    The extra_head macro loads javascript and css files required by the CKEditor.

    The data_editor macro defines the textarea used by the CKEditor to edit HTML items.
#}
{% if user.use_markdown_editor %}
    {% macro extra_head() %}
        <script src="{{ url_for('static', filename='js/ckeditor5.umd.js') }}"></script>
        <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ckeditor5.css') }}">
        {#- prevent ckeditor css from making body font-size 12px #}
        <style>body {font-size: 1em;}</style>
    {% endmacro %}

    {% macro data_editor(form, item_name) %}
        {{ gen.textarea(form['data_text'], class='ckeditor markdown', rows=form.rows|string, cols=form.cols|string) }}
    {% endmacro %}
{% else %}
    {% from "modify_binary.html" import data_editor as base_editor with context %}

    {% macro data_editor(form, item_name) %}
        {% set textarea_rows = '1' if edit_rows == '0' else edit_rows %}
        {% set cls = 'moin-edit-content moin-autosize' if edit_rows == '0' else 'moin-edit-content' %}
        <input type="button" id="moin-toggle-fixed-font-button" value="{{ _('Toggle font width') }}" class="moin-button moin-textarea-font" >
        {{ gen.textarea(form['data_text'], rows=textarea_rows|string, class=cls, **kwargs) }}
        {{ base_editor(form) }}
        <br>
    {% endmacro %}
{% endif %}
