{#
    This template defines a data_editor macro that is selected within content.py based on the item's content type.
    It will be passed to the modify.html template.

    A specialized object is used to edit svg draw items.
#}

{% macro data_editor(form, item_name) %}
    <p>
        <object data="{{ url_for('serve.files', name='svgedit_moin', filename='editor/svg-editor.html') }}?paramurl={{ url_for('frontend.get_item', item_name=item_name, member='drawing.svg') }}" width="100%" height="600">
        </object>
    </p>
    <br>
{% endmacro %}
