{#
    Display user's recent changes starting with most recent. Include icon
    indicating last action or a link to a diff if a text item was changed, a
    link to display item or deleted item, date, size, rev number, and comments.
#}

{% extends theme("layout.html") %}
{% import "utils.html" as utils %}

{# Create next page, prior page links shown at top and bottom of report. #}
{% macro page_links(next_page, prev_page) %}
    {# if history is long and displayed as several pages, create links to show next and/or prior pages #}
    <div class='moin-offset-links'>
        {% if prev_page > 0 %}
            <a class='moin-prior-page' href="{{ url_for('frontend.mychanges', page_num=prev_page) }}" title="{{ _("Previous") }}">&laquo;</a>
        {% endif %}
        {% if next_page %}
            <a class='moin-next-page' href="{{ url_for('frontend.mychanges', page_num=next_page) }}" title="{{ _("Next") }}">&raquo;</a>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <h1>{{ _('My Changes') }}</h1>
    {% if my_changes %}
        {{ page_links(next_page, prev_page) }}
        <div class="moin-clr"></div>
        <div class="moin-mychanges">
            <table class="zebra">
                <thead>
                    <tr>
                        <th>{{ _("Diff") }}</th>
                        <th>{{ _("Name or ID ~ Old Name") }}</th>
                        <th>{{ _("Timestamp") }}</th>
                        <th class="moin-integer">{{ _("Size") }}</th>
                        <th class="moin-integer">{{ _("Rev.") }}</th>
                        <th>{{ _("Comment") }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for doc in my_changes %}
                        <tr>
                            {# create an icon with a link to diff, or other icon indicating state of item #}
                            <td class="moin-history-links">{{ utils.item_status_icon(doc.fqname, doc, None) }}</td>
                            {# show item name or item id and old name if the item is nameless (deleted) #}
                            <td class="moin-history-item moin-wordbreak">{{ utils.item_moniker(doc, doc.fqnames) }}</td>
                            <td>{{ doc.mtime|time_datetime }}</td>
                            <td class="moin-integer">{{ doc.size }}</td>
                            <td class="moin-integer">{{ doc.rev_number  or doc.revid|shorten_id }}</td>
                            <td class="moin-wordbreak">{{ doc.comment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ page_links(next_page, prev_page) }}
    {% else %}
        <p class='moin-flash moin-flash-javascript moin-flash-error'>{{ _("No changes found.") }}</p>
    {% endif %}
{% endblock %}
