{% import "forms.html" as forms %}
{% extends theme("show.html") %}

{% set title = _("Rename '%(item_name)s'", item_name=item.fqname|shorten_fqname) %}
{% block content %}
    <h1>{{ title }}</h1>
    {{ forms.list_subitems(subitem_names, _("The following subitems will be renamed:")) }}
    <div class="moin-form">
        {{ gen.form.open(form, method="post", action=url_for('frontend.rename_item', item_name=fqname)) }}
            {{ forms.render_errors(form) }}
            <dl>
                {{ forms.render(form['target']) }}
                {{ forms.render(form['comment']) }}
            </dl>
            {{ forms.render_submit(form) }}
        {{ gen.form.close() }}
    </div>
{% endblock %}
