{%- if get == 'xml' -%}
    <?xml-stylesheet type="text/xsl" href="{{ theme_static('atom.xslt') }}"?>
{%- elif get == 'comment_cont_merge' -%}
    <p style="font-size: 14px">...{{ comment }}</p> <br /> {{ content }}
{%- elif get == 'first_revision' -%}
    <div class="moin-diff-info moin-diff-info-rev-id">
        <span class="moin-diff-info-caption"><strong>Revision: {{ revision | shorten_id }}</strong> - <i>{{ _('First revision') }}</i></span>
    </div><br />
    {{ content }}
{%- endif -%}