<!DOCTYPE html>{# this is html5, xmlish variant #}
{%- import "snippets.html" as snippets with context %}
{%- set head = snippets.head() %}
{%- set scripts = snippets.scripts() %}
{%- set stylesheets = snippets.stylesheets() %}
<html>
<head>
{% block head %}
    {% block head_meta %}
    <meta charset="utf-8" />{# must be at the beginning #}
    {% if pi_refresh -%}
        {{ '<meta http-equiv="refresh" content="%d;URL=%s" />' % pi_refresh }}
    {%- endif %}
    {%- if item_name and allow_doubleclick and
        user.edit_on_doubleclick and user.may.write(item_name) -%}
            <meta name="edit_on_doubleclick" content="1" />
    {%- endif %}
    {% for name, content in theme_supp.meta_items -%}
        <meta name="{{ name }}" content="{{ content }}" />
    {% endfor %}
    {% endblock %}

    {{ head }}

    {% block head_title %}
    <title>
    {%- if title -%}{{ title }}{% else %}{{ item_name }}{%- endif %} -
    {%- if cfg.html_pagetitle -%} {{ cfg.html_pagetitle }}{% else %} {{ cfg.sitename }}{%- endif -%}
    </title>
    {% endblock %}

    {% block head_links %}
    <link rel="shortcut icon" href="{{ url_for('.static', filename='logos/favicon.ico') }}" />
    <link rel="archives" href="{{ url_for('frontend.history', item_name=item_name) }}" />
    {% set parent_item = theme_supp.parent_item(item_name) %}
    {%- if parent_item -%}
        <link rel="up" href="{{ url_for('frontend.show_item', item_name=parent_item) }}" />
    {%- endif %}

    {% block theme_stylesheets %}
    <link media="all" rel="stylesheet" href="{{ theme_static('css/common.css') }}" />
    {% endblock %}
    {{ stylesheets }}
    {% if user.valid and user.css_url -%}
        <link media="all" rel="stylesheet" title="{{ user.name }}'s stylesheet" href="{{ user.css_url }}" />
    {%- endif %}
    {% endblock %}

    {% block head_scripts %}
    <script src="{{ url_for('serve.files', name='jquery', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('serve.files', name='svgweb', filename='svg.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/common.js') }}"></script>
    {{ scripts }}
    <!--[if lt IE 9]>
        {# TODO: use a local copy later #}
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        <!--
        var search_hint = " {{ _('Search') }}";
        //-->
    </script>
    {% endblock %}
{% endblock %}
</head>
<body onload="actionsMenuInit('{{ _('More') }}'); {% if body_onload %}{{ body_onload }}{% endif %}" lang="{{ theme_supp.ui_lang }}" dir="{{ theme_supp.ui_dir }}">
{% block layout %}
    <h1>Extend this block only if you want to change layout. If you want to put content, extends layout.html and use placeholders item and content.</h1>
{% endblock %}
</body>
</html>
