{% extends theme("layout.html") %}
{% import "utils.html" as utils %}

{% macro show_blog_entry(entry_item) %}
    {% if entry_item.meta['summary'] %}
        {% set title = entry_item.meta['summary'] %}
    {% else %}
        {% set title = entry_item.name %}
    {% endif %}
    <h1><a href="{{ url_for('frontend.show_item', item_name=entry_item.name) }}"
        title="{{ title }}" class="moin-blog-entry-link">{{ title }}</a></h1>
    <div class="moin-blog-entry-info">
        {{ _("Published on") }} {{ entry_item.meta['ptime']|datetimeformat }}
        {{ _("by") }} {{ utils.editor_info(entry_item.meta) }}
    </div>
    <div class="moin-blog-entry-content">
        {{ entry_item._render_data()|safe }} {# rendered blog entry content #}
    </div>
    <div class="moin-blog-entry-bottominfo">
        {% set tags = entry_item.meta['tags']|sort %}
        {% if tags %} {# display blog entry's tags as a list if it is not empty #}
            <div class="moin-blog-entry-tags">
                {{ _("Tags:") }}
                <ul class="moin-blog-entry-tags">
                    {% for tag in tags %}
                        <li><a href="{{ url_for('frontend.tagged_items', tag=tag) }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="moin-blog-entry-comments">
            {% set discussion_item_name = '{0}/{1}'.format(entry_item.name, cfg.supplementation_item_names[0]) %}
            <a href="{{ url_for('frontend.show_item', item_name=discussion_item_name) }}">{{ _("Discussion page") }}</a>
        </div>
    </div>
{% endmacro %}

{% macro widget_categories(categories) %}
    <div id="moin-blog-categories">
        <h2>{{ _("Categories") }}</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{{ url_for('frontend.tagged_items', tag=category) }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% if blog_item %}
    {% set blog_header = blog_item._render_data()|safe %}
    {% set categories = blog_item.meta['supertags'] %}
{% endif %}

{% block content %}
    {% block content_data %}
        <div id="moin-content-data">
            <div id="moin-blog-header">
                {% if blog_header %}
                    {{ blog_header }}
                {% endif %}
            </div>
            <div id="moin-blog-content">
            {% block blog_content %}<br />{% endblock %}
            </div>
            {% if categories %}
                <div id="moin-blog-sidebar">
                    {{ widget_categories(categories) }}
                </div>
            {% endif %} 
        </div>
    {% endblock %}
{% endblock %}
