{% import "forms.html" as forms %}
{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("Copy '%(item_name)s'", item_name=item.name) }}</h1>
<div class="moin-form">
<form action="{{ url_for('frontend.copy_item', item_name=item.name) }}" method="POST" enctype="multipart/form-data">
    <dl>
        <dt><label for="target">{{ _("Target") }}</label></dt>
        <dd><input type="text" id="target" name="target" size="80" maxlength="200" value="{{ target }}" /></dd>
        
        <dt><label for="comment">{{ _("Comment") }}</label></dt>
        <dd><input type="text" id="comment" name="comment" size="80" maxlength="200" value="{{ comment }}" /></dd>
    </dl>

    <input class="button" type="submit" name="button_ok" value="{{ _('Copy') }}" />
    <input class="button" type="submit" name="button_cancel" value="{{ _('Cancel') }}" />
    <br/>
    {{ forms.render_textcha(gen, form) }}
</form>
</div>
{% endblock %}
