{% import "forms.html" as forms %}
{% extends theme("layout.html") %}
{% block content %}
{% if rev_no == None %}
    <h1>{{ _("DESTROY COMPLETE item '%(item_name)s'", item_name=item.name) }}</h1>
    <div class="moin-form">
    {{ gen.form.open(form, method="post", action=url_for('frontend.destroy_item', item_name=item.name)) }}
      {{ forms.render_errors(form) }}
      <dl>
        {{ forms.render_field(gen, form['comment'], 'text') }}
        {{ forms.render_textcha(gen, form) }}
      </dl>
      {{ gen.input(form['submit'], type='submit') }}
    {{ gen.form.close() }}
    </div>
{% else %}
    <h1>{{ _("DESTROY REVISION '%(item_name)s' (rev %(rev_no)d)", item_name=item.name, rev_no=rev_no) }}</h1>
    <div class="moin-form">
    {{ gen.form.open(form, method="post", action=url_for('frontend.destroy_item', item_name=item.name, rev=rev_no)) }}
      {{ forms.render_errors(form) }}
      <dl>
        {{ forms.render_field(gen, form['comment'], 'text') }}
        {{ forms.render_textcha(gen, form) }}
      </dl>
      {{ gen.input(form['submit'], type='submit') }}
    {{ gen.form.close() }}
    </div>
{% endif %}
{% endblock %}





