{% import "utils.html" as utils %}

{% macro show_meta(rev) %}
    <div class="moin-diff-info moin-diff-info-rev-id">
        <span class="moin-diff-info-caption">Revision:</span>
        <span class="moin-diff-info-value">{{ rev.meta['revid'] | shorten_id }}</span>
    </div>
    <div class="moin-diff-info moin-diff-info-rev-author">
        <span class="moin-diff-info-caption">Editor:</span>
        <span class="moin-diff-info-value">
            {{ utils.editor_info(rev.meta) }}
        </span>
    </div>
    <div class="moin-diff-info moin-diff-info-rev-size">
        <span class="moin-diff-info-caption">Size:</span>
        <span class="moin-diff-info-value">{{ rev.meta['size'] }}</span>
    </div>
    <div class="moin-diff-info moin-diff-info-rev-comment">
        <span class="moin-diff-info-caption">Comment:</span>
        <span class="moin-diff-info-value">{{ rev.meta['comment'] }}</span>
    </div>
{% endmacro %}

<table class="moin-diff">
    <tr>
        <td class="moin-diff-header">
            {{ show_meta(oldrev) }}
        </td>
        <td class="moin-diff-header">
            {{ show_meta(newrev) }}
        </td>
    </tr>
    <tr>
        <td class="moin-diff-removed"><span>{{ _('Deletions are marked like this.') }}</span></td>
        <td class="moin-diff-added"><span>{{ _('Additions are marked like this.') }}</span></td>
    </tr>
    {% for llineno, lcontent, rlineno, rcontent in diffs %}
        <tr class="moin-diff-line-number">
            <td><a href="#{{ llineno }}">{{ _('Line') }} {{ llineno }}:</a></td>
            <td><a href="#{{ rlineno }}">{{ _('Line') }} {{ rlineno }}:</a></td>
        </tr>
        <tr>
            <td class="moin-diff-removed">{{ lcontent }}</td>
            <td class="moin-diff-added">{{ rcontent }}</td>
        </tr>
    {% endfor %}
</table>
