{% import "utils.html" as utils %}

{% macro show_meta(rev) %}
    <div class="moin-diff-info moin-diff-info-rev-id">
        <span class="moin-diff-info-caption">{{ _('Revision') }}:</span>
        <span class="moin-diff-info-value">{{ rev.meta['revid'] | shorten_id }}</span>
    </div>
    <div class="moin-diff-info moin-diff-info-rev-size">
        <span class="moin-diff-info-caption">{{ _('Size') }}:</span>
        <span class="moin-diff-info-value">{{ rev.meta['size'] }}</span>
    </div>
    <div class="moin-diff-info moin-diff-info-rev-comment">
        <span class="moin-diff-info-caption">{{ _('Comment') }}:</span>
        <span class="moin-diff-info-value">{{ rev.meta['comment'] }}</span>
    </div>
{% endmacro %}
<table class="moin-diff" style="width: 100%;">
    {% for llineno, lcontent, rlineno, rcontent in diffs %}
        <tr>
            <td style="vertical-align: top;">{{ llineno }}:</td>
            <td class="moin-diff-removed" style="vertical-align: top; background-color:#ff9; word-wrap: break-word;"><blockquote>{{ lcontent }}</blockquote></td>
            <td style="vertical-align: top;">{{ rlineno }}:</td>
            <td class="moin-diff-added" style="vertical-align: top; background-color: #cfc; word-wrap: break-word;"><blockquote>{{ rcontent }}</blockquote></td>
        </tr>
    {% endfor %}
    <tr>
        <td class="moin-diff-header-line" style="width: 3%;">
        </td>
        <td class="moin-diff-header" style="width: 47%;">
            <strong>{{ show_meta(oldrev) }}</strong>
        </td>
        <td class="moin-diff-header-line" style="width: 3%;">
        </td>
        <td class="moin-diff-header" style="width: 47%;">
            <strong>{{ show_meta(newrev) }}</strong>
        </td>    
    </tr>
</table>
<style type="text/css">
    .moin-diff-added span { background-color: #80FF80; }
    .moin-diff-removed span { background-color: #FFFF80; }
</style>
