{% set exists = storage.has_item(item_name) %}
<ul class="moin-editbar">
    {% for endpoint, label, check_exists in cfg.edit_bar if not endpoint in cfg.actions_excluded %}
        {% if (not check_exists or check_exists and exists) and endpoint in [
               'frontend.show_item', 'frontend.index',
               'frontend.highlight_item', 'frontend.show_item_meta', 'frontend.get_item',
               'frontend.get_item', 'frontend.history', 'frontend.backrefs', 'frontend.sitemap',
               'frontend.similar_names',
               'frontend.modify_item',
               'frontend.copy_item', 'frontend.rename_item', 'frontend.delete_item', 'frontend.destroy_item',
           ] -%}
            <li>
            <a href="{{ url_for(endpoint, item_name=item_name) }}" rel="nofollow"> {{ label }}</a>
            </li>
        {%- endif %}

        {% if endpoint in [
            'frontend.global_history', 'frontend.global_index', 'frontend.global_tags',
            'admin.index',
           ] -%}
            <li>
            <a href="{{ url_for(endpoint) }}" rel="nofollow"> {{ label }}</a>
            </li>
        {%- endif %}

        {% if endpoint == 'frontend.quicklink_item' and user.valid -%}
            <li>
                <a href="{{ url_for(endpoint, item_name=item_name) }}" rel="nofollow">
                {% if user.isQuickLinkedTo([item_name]) -%}
                    {{ _('Remove Link') }}
                {% else -%}
                    {{ _('Add Link') }}
                {%- endif %}
                </a>
            </li>
        {%- endif %}
        {% if endpoint == 'frontend.subscribe_item' and user.valid -%}
            <li>
                <a href="{{ url_for(endpoint, item_name=item_name) }}" rel="nofollow">
                {% if user.isSubscribedTo([item_name]) %}
                        {{ _('Unsubscribe') }}
                {% else %}
                        {{ _('Subscribe') }}
                {% endif %}
                </a>
            </li>
        {%- endif %}

        {% if endpoint == 'special.delimiter' -%}
            <li>*</li>
        {%- endif %}
        {% if endpoint == 'special.comments' -%}
            <li class="toggleCommentsButton" style="display:none;">
                <a href="#" onClick="toggleComments();return false;">{{ _('Comments') }}</a>
            </li>
        {%- endif %}
        {% if endpoint == 'special.supplementation' -%}
            {%- for sub_item_name in cfg.supplementation_item_names -%}
                {% set current_sub = item_name.rsplit('/', 1)[-1] %}
                {%- if not current_sub in cfg.supplementation_item_names -%}
                    {% set supp_name = '%s/%s' % (item_name, sub_item_name) -%}
                    {% if storage.has_item(supp_name) or user.may.write(supp_name) %}
                        <li>
                            <a href="{{ url_for('frontend.show_item', item_name=supp_name) }}" rel="nofollow">{{ _(sub_item_name) }}</a>
                        </li>
                    {%- endif %}
                {%- endif %}
            {%- endfor -%}
        {%- endif %}
    {% endfor %}
</ul>
