{% extends theme("layout.html") %}

{% block item %}
    <div class="moin-select-contenttypes">
        <div class="moin-contenttypes-wrapper">
            <div>Filter by content type </div>
            <form action="" method="post">
                <ul>
                    {% for gname, ctlabels in contenttype_groups %}
                    <li>
                        {% if gname in selected_groups %}
                            <input type="checkbox" name="{{ gname }}" checked="true">
                        {% else %}
                            <input type="checkbox" name="{{ gname }}">
                        {% endif %}
                        <label for="{{ gname }}">{{ gname|replace("items", "") }}</label>
                        <span class="contenttype-labels">{{ ctlabels|join(", ") }}</span>
                    </li>
                    {% endfor %}
                    <li>
                        <input type="submit" value="{{ _("Filter") }}">
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <h1>{{ _("Global Index") }}</h1>
    <div class='moin-clr'></div>
    {% if index %}
    <div id="moin-letters">
        {% if not startswith %}
            <a class="selected" href="{{ url_for('frontend.global_index') }}">{{ _("All") }}</a>
        {% else %}
            <a href="{{ url_for('frontend.global_index') }}">{{ _("All") }}</a>
        {% endif %}
        {% for initial in initials %}
            {% if startswith == initial %}
                <a class="selected" href="{{ url_for('frontend.global_index', startswith=initial) }}">{{ initial }}</a>
            {% else %}
                <a  href="{{ url_for('frontend.global_index', startswith=initial) }}">{{ initial }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div id="moin-global-index">
        {% set maxchars = 20 %}
        {% for fullname, relname, contenttype, hassubitem in index %}
            <div>
                <a href="{{ url_for('.show_item', item_name=fullname) }}" 
                   class="{{ contenttype|contenttype_to_class }}"
                   title="{{ relname }}">
                   {{ relname|truncate(maxchars, true, '..') }}
                </a>
                {% if hassubitem %}
                    <a href="{{ url_for('frontend.index', item_name=fullname) }}" 
                       title="{{ _("More") }}"
                       class="moin-more-index">
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="moin-clr"></div>
    {% endif %}
{% endblock %}
