{% extends theme("layout.html") %}
{% import "utils.html" as utils %}

{% block head %}
{{ super() }}
<link rel="alternate" title="Global changes" href="{{ url_for('feed.atom') }}" type="application/atom+xml" />
{% endblock %}

{% block content %}
<h1>{{ _("Global History") }}</h1>
    <div id="moin-global-history">
        {% for rev_date, revs in history %}
            <div class="moin-history-container"> 
                <h2 class="moin-history-container-header">{{ rev_date }}</h2>
                <div class="moin-history-container-body">
                    <table>
                    {% for rev in revs %}
                        <tr>
                            <td class="moin-action moin-history-{{ rev.action|lower }}" title="{{ rev.action }}">&nbsp;</td>
                            <td class="moin-history-item"><a href="{{ url_for('frontend.show_item', item_name=rev.item_name) }}">{{ rev.item_name }}</a></td>
                            <td class="moin-history-time">{{ rev.timestamp|timeformat }}</td>
                            <td class="moin-wordbreak moin-history-contenttype">{{ rev.contenttype }}</td>
                            <td class="moin-history-links">
                                {% for revno in rev.revnos %}
                                    {% if revno %}
                                        <a href="{{ url_for('frontend.diff', item_name=rev.item_name, rev1=revno, rev2=revno-1) }}">[{{ revno }}]</a>
                                    {% else %}
                                        <span>[0]</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="moin-wordbreak moin-history-editorinfo">
                                {% for info, position in rev.editors %}
                                    <span class="moin-history-editortext">
                                    {{ utils.show_editor_info(info) }}
                                    {{ position }}
                                    </span>
                                {% endfor %}
                            </td>
                            <td class="moin-wordbreak moin-history-comment">
                               {% for comment in rev.comments %}
                                   <span>{{ comment }}</span>
                               {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
