{#
    Display a table showing an item's edit history, one row per revision.
    In first column, show ticket's summary, active item's name, or deleted item's ID.
#}

{% extends theme("show.html") %}

{% import "utils.html" as utils with context %}

{% set (history, next_offset, previous_offset) = history_page %}
{% set summary = history[0].get('summary', None) if history else None %}
{% set title = _("History of '%(fqname)s'", fqname=fqname) %}

{% block content %}
    {% if history %}
        <h1>{{ title }}</h1>

        {# add button to switch between history by name or history by item id #}
        {% if '/@itemid/' in request.url or '/%40itemid/' in request.url %}
            <p class="moin-no-print">
                <a class="moin-button" href="{{ url_for('frontend.history', item_name=history[0].fqname, bookmark=bookmark_time) }}">{{ _("Item Name") }}</a>
                Click to show history spanning item delete and recreate.
            </p>
        {% else %}
            <p class="moin-no-print">
                <a class="moin-button" href="{{ url_for('frontend.history', item_name='@itemid/' + history[0].itemid, bookmark=bookmark_time) }}">{{ _("Item Id") }}</a>
                Click to show history spanning item renames.
            </p>
        {% endif %}

        {# if history is long, create links to show next and/or prior pages #}
        <div class='moin-offset-links'>
            {% if previous_offset >= 0 %}
                <a class='moin-prior-page' href="{{ url_for('frontend.history', item_name=fqname, offset=previous_offset) }}" title="{{ _("Previous") }}">&laquo;</a>
            {% endif %}
            {% if next_offset %}
                <a class='moin-next-page' href="{{ url_for('frontend.history', item_name=fqname, offset=next_offset) }}" title="{{ _("Next") }}">&raquo;</a>
            {% endif %}
        </div>

        <div class="moin-clr"></div>
        <form action="{{ url_for('frontend.diff', item_name=fqname) }}" method="GET">
            <div id="moin-page-history">
                <table class="zebra">
                    <thead>
                        <tr>
                            {% if fqname.field == NAME_EXACT %}
                                <th>{{ _("Name") }}</th>
                            {% elif summary %}
                                <th>{{ _("Summary") }}</th>
                            {% else %}
                                <th>{{ _("ID or Name") }}</th>
                            {% endif %}

                            <th>{{ _("Rev.") }}</th>
                            <th>{{ _("Timestamp") }}</th>
                            <th class="moin-integer">{{ _("Size") }}</th>
                            <th class="moin-button-diff"><input class="moin-button" type="submit" value="Diff" /></th>
                            <th>{{ _("Editor") }}</th>
                            <th>{{ _("Content-Type") }}</th>
                            <th>{{ _("Comment") }}</th>
                            <th class="center" colspan="6">{{ _("Actions") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in history %}
                            <tr>
                                <td class="moin-wordbreak">
                                    {{ utils.item_moniker(doc, doc.fqnames) }}
                                </td>
                                <td class="moin-integer">{{ doc.rev_number or doc.revid|shorten_id }}</td>
                                <td>{{ doc.mtime|datetimeformat }}</td>
                                <td class="moin-integer">{{ doc.size }}</td>
                                <td>
                                    <div class="moin-hist-rev">
                                        {% set check1, check2 = '', '' %}
                                        {% if len and len(history) > 1 %}
                                            {% if loop.index == 1 %}
                                                {% set check2 = 'checked' %}
                                            {% elif loop.index == 2 %}
                                                {% set check1 = 'checked' %}
                                            {% endif %}
                                        {% endif %}
                                        <input type="radio" name="rev1" value="{{ doc.revid }}" {{ check1 }} />
                                        <input type="radio" name="rev2" value="{{ doc.revid }}" {{ check2 }} />
                                    </div>
                                </td>
                                <td class="moin-wordbreak">{{ utils.editor_info(doc) }}</td>
                                <td class="moin-wordbreak">{{ doc.contenttype|shorten_ctype }}</td>
                                <td class="moin-wordbreak">{{ doc.comment }}</td>
                                {% if loop.first %}
                                    {% set revid = None %}
                                {% else %}
                                    {% set revid = doc.revid %}
                                {% endif %}
                                <td>
                                    <a href="{{ url_for('frontend.show_item', item_name=fqname, rev=revid) }}" title="{{ _('show') }}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('frontend.highlight_item', item_name=fqname, rev=revid) }}" title="{{ _('highlight') }}">
                                        <span class="fa fa-code"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('frontend.show_item_meta', item_name=fqname, rev=revid) }}" title="{{ _('meta') }}">
                                        <span class="fa fa-table"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('frontend.download_item', item_name=fqname, rev=revid) }}" title="{{ _('download') }}">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </td>
                                {% if user.may.write(fqname) and not doc.trash -%}
                                    {%- if loop.first %}
                                        <td>
                                            <a href="{{ url_for('frontend.delete_item', item_name=fqname) }}" title="{{ _('delete item') }}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>
                                    {%- else %}
                                        <td>
                                            <a href="{{ url_for('frontend.revert_item', item_name=fqname, rev=revid) }}" title="{{ _('revert') }}">
                                                <span class="fa fa-reply"></span>
                                            </a>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                {%- endif %}
                                {% if user.may.destroy(fqname) -%}
                                    {%- if loop.first %}
                                        <td>
                                            <a href="{{ url_for('frontend.destroy_item', item_name=fqname) }}" title="{{ _('destroy all revisions') }}">
                                                <span class="fa fa-fire"></span>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ url_for('frontend.destroy_item', item_name=fqname, rev=revid) }}" title="{{ _('destroy this revision') }}">
                                                <span class="fa fa-fire"></span>
                                            </a>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                {%- endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% if bookmark_time %}
                        <tfoot>
                            <tr>
                                <td colspan="2">Bookmark is set to</td>
                                <td>{{ bookmark_time|datetimeformat }}</td>
                                <td colspan="11"></td>
                            </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </form>
    {% endif %}
{% endblock %}
