{% extends theme("layout.html") %}
{% import "forms.html" as forms %}

{% block item %}
<div id="moin-content">
<div class="moin-form">
{{ forms.render_errors(form) }}

{% if 'username' in login_inputs or 'password' in login_inputs %}
<h2>{{ _('Moin login') }}</h2>
{{ gen.form.open(form, method="post", action=url_for('frontend.login')) }}
<dl>
  {{ gen.input(form['submit'], type='hidden') }}

  {% if 'username' in login_inputs %}
  {{ forms.render_field(gen, form['username'], 'text') }}
  {% endif %}
  {% if 'password' in login_inputs %}
  {{ forms.render_field(gen, form['password'], 'password') }}
  {% endif %}

  <input type="submit" value="{{ _('Log in') }}" />
</dl>
{{ gen.form.close() }}
{% endif %}

{% if 'openid' in login_inputs %}
<br>
<h2>{{ _('OpenID login') }}</h2>

{{ gen.form.open(form, method="post", action=url_for('frontend.login')) }}
<dl>
  {{ gen.input(form['submit'], type='hidden') }}

  {{ forms.render_field(gen, form['openid'], 'text') }}
  <input type="submit" value="{{ _('Log in') }}" />
</dl>
{{ gen.form.close() }}
{% endif %}

</div>
</div>
{% endblock %}

