{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("Create new item?") }}</h1>
<p>
{{ _("You can either <a href='%(modifyhref)s'>create the item from scratch</a> or select a template.",
modifyhref=url_for('frontend.modify_item', item_name=item_name, itemtype=itemtype, contenttype=contenttype, template='') ) }}
</p>
<h2>{{ _("Available template items") }}</h2>
<ul>
    {% for template in templates %}
    <li>
    <a href="{{ url_for('frontend.modify_item', item_name=item_name, itemtype=itemtype, contenttype=contenttype, template=template) }}">{{ template }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
