{% import "forms.html" as forms %}
{% extends theme("layout.html") %}

{% set title = _("Modifying %(item_name)s", item_name=item_name) %}

{% block content %}
<h1>{{ title }}</h1>
<div class="moin-form">
    {{ gen.form.open(form, method='post', enctype='multipart/form-data') }}
    {{ forms.render_errors(form) }}
    {% block extra_form %}{% endblock %}
    {% block data_editor %}{% endblock %}
    <dl>
        {{ forms.render_field(gen, form['data_file'], 'file') }}
    </dl>
    <pre id="moin-editor-help">{{ help }}</pre>
    {{ gen.textarea(form['meta_text'], lang='en', dir='ltr', rows=rows_meta, cols=cols) }}
    <br />
    {{ forms.render_errors(form['meta_text']) }}
    {{ gen.form.close() }}
</div>
{% endblock %}

