{% import "forms.html" as forms %}

{% macro meta_editor(form, may_admin) %}
    <h2>General meta</h2>
    <dl>
        {% if may_admin %}
            {{ forms.render(form['acl']) }}
        {% else %}
            {{ forms.raw_input(form['acl'], type='hidden') }}
        {% endif %}
        {% for e in [
            'itemtype',
            'contenttype',
            'summary',
            'tags',
            'name',
            ] %}
            {{ forms.render(form[e]) }}
        {% endfor %}
    </dl>
{% endmacro %}
