{% extends "modify_binary.html" %}
{% import "utils.html" as utils %}

{% block subitem_navigation %}
        {% call(fullname, shortname, contenttype, has_children) utils.render_subitem_navigation(item_name, True) %}
            {% set shortname = shortname|json_dumps %}
            {% set fullname = fullname|json_dumps %}
            <button class="link-action" onclick='linkSubitem({{ shortname }}, {{ fullname }})'
                title="{{ _('Link to Subitem') }}">{{ _('Link') }}</button>
            <button class="transclude-action" 
                onclick='transcludeSubitem({{ shortname }}, {{ fullname }})'
                title="{{ _('Transclude Subitem') }}">{{ _('Transclude') }}</button>
        {% endcall %}
{% endblock %}

{% block data_editor %}
{{ gen.textarea(form['data_text'], lang=lang, dir=direction, rows=rows_data, cols=cols) }}
<br />
{% endblock %}
