{% from 'modify_text.html' import data_editor as base_editor %}

{% macro extra_head() %}
<script type="text/javascript" src="{{ url_for('serve.files', name='ckeditor', filename='ckeditor.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('serve.files', name='ckeditor', filename='contents.css') }}" />
{% endmacro %}

{% macro data_editor(form, item_name) %}
{{ gen.textarea(form['data_text'], class='ckeditor', lang=lang, dir=direction, rows=form.rows|string, cols=form.cols|string) }}
{% endmacro %}
