{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("Create new item?") }}</h1>
<p>
{{ _("This item does not exist (yet), but you can try creating it now. Please select the type of the item you want to create.") }}
</p>
<table>
    {% for gname, contenttypes in contenttype_groups %}
    <tr>
        <td class="green">{{ gname }}</td>
    </tr>
    <tr>
        <td>
        {% for ctname, ctlabel in contenttypes %}
            <a href="{{ url_for('frontend.modify_item', item_name=item_name, contenttype=ctname) }}">{{ ctlabel }}</a> -
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
