{% extends theme("layout.html") %}
{% import "forms.html" as forms %}

{% block item %}
<h1>{{ _("Recover Password") }}</h1>
{{ gen.form.open(form, method="post", action=url_for('frontend.recoverpass')) }}
  {{ forms.render_errors(form) }}
  <dl>
    {{ forms.render_field(gen, form['username'], 'text', 'required') }}
    {{ forms.render_field(gen, form['token'], 'text', 'required') }}
    {{ forms.render_field(gen, form['password1'], 'password', 'required') }}
    {{ forms.render_field(gen, form['password2'], 'password', 'required') }}
  </dl>
  {{ gen.input(form['submit'], type='submit') }}
{{ gen.form.close() }}
{% endblock %}

