{% extends theme("layout.html") %}
{% import "forms.html" as forms %}

{% block item %}
<h1>{{ _("Create Account") }}</h1>
<div class="moin-form">
{{ gen.form.open(form, method="post", action=url_for('frontend.register')) }}
  {{ forms.render_errors(form) }}
  <dl>
    {{ forms.render_field(gen, form['username'], 'text', 'required') }}
    {{ forms.render_field(gen, form['password1'], 'password', 'required') }}
    {{ forms.render_field(gen, form['password2'], 'password', 'required') }}
    {{ forms.render_field(gen, form['email'], 'text', 'required') }}
    {{ forms.render_field(gen, form['openid'], 'text') }}
    {{ forms.render_textcha(gen, form) }}
  </dl>
  {{ gen.input(form['submit'], type='submit') }}
{{ gen.form.close() }}
</div>
{% endblock %}

