{% import "forms.html" as forms %}
{% extends theme("show.html") %}

{% set title = _("Rename '%(item_name)s'", item_name=item.name) %}

{% block content %}
<h1>{{ title }}</h1>
<div class="moin-form">
{{ gen.form.open(form, method="post", action=url_for('frontend.rename_item', item_name=item.name)) }}
  {{ forms.render_errors(form) }}
  <dl>
    {{ forms.render(form['target']) }}
    {{ forms.render(form['comment']) }}
    {{ forms.render_textcha(gen, form) }}
  </dl>
  {{ forms.render_submit(form) }}
{{ gen.form.close() }}
</div>
{% endblock %}
