{% import "forms.html" as forms %}
{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("Revert '%(item_name)s' (rev %(rev_id)s)", item_name=item.name, rev_id=rev_id) }}</h1>
<div class="moin-form">
{{ gen.form.open(form, method="post", action=url_for('frontend.revert_item', item_name=item.name, rev=rev_id)) }}
  {{ forms.render_errors(form) }}
  <dl>
    {{ forms.render(form['comment']) }}
    {{ forms.render_textcha(gen, form) }}
  </dl>
  {{ forms.render_submit(form) }}
{{ gen.form.close() }}
</div>
{% endblock %}
