{% extends theme("show.html") %}

{% set title = _("SiteMap of '%(item_name)s'", item_name=item_name) %}

{% block content %}
<h1>{{ title }}</h1>
{% for entry in sitemap recursive %}
    {% if isinstance(entry, list) %}
        <ul>
            {{ loop(entry) }}
        </ul>
    {% else %}
        <li>
        <a class="moin-fqname" href="{{ url_for('frontend.show_item', item_name=entry) }}" data-fqname="{{entry}}">{{ entry.value }}</a>
        </li>
    {% endif %}
{% endfor %}
{% endblock %}
