{% extends theme("layout.html") %}
{% block content %}
    {% if headline %}
        <h1>{{ headline }}</h1>
    {% endif %}
    {% if wanteds %}
        {{ _("Total: %(total)s", total=wanteds|count) }}
        <ol type="1">
            {% for item_name in wanteds|sort %}
                <li>
                    <a href="{{ url_for('frontend.show_item', item_name=item_name) }}">{{ item_name }}</a>:
                    {% for item_link in wanteds[item_name] %}
                        <a href="{{ url_for('frontend.show_item', item_name=item_link) }}">{{ item_link }}</a>
                        {%- if not loop.last %}, {% endif -%}
                    {% endfor %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
