build/
dist/
docs/_build/
docs/devel/api/
instance/
MANIFEST
src/moin/_version.py
src/moin/translations/*/LC_MESSAGES/messages.mo
src/moin/_tests/wiki/data/cache/
src/moin/_tests/wiki/index/
src/moin.egg-info/
wiki/
wiki_local/
/wikiconfig_*.py
.DS_Store
.cache/
.coverage
.eggs/
.idea/
.pytest_cache/
.tox/
*.pyc
*.pyo
*.orig
*.rej
*~
# files created by quickinstall.py
activate.bat
deactivate.bat
moin.bat
m.bat
activate
m
wikiconfig.py
intermap.txt
m-*.txt
# default destination for "m dump-html" output
HTML/
_test_artifacts/
# some files not to be ignored
!/src/moin/contrib/intermap.txt
!/src/moin/_tests/wikiconfig.py
!/src/moin/config/wikiconfig.py
