*.pyc
*.pyo
dist/
build/
docs/_build/
moin.egg-info/
MANIFEST
env/
env-pypy/
env-py27/
dlc/
MoinMoin/_tests/wiki/data/cache/
wiki/
wiki_local/
instance/
wikiconfig_*.py
MoinMoin/translations/.*/LC_MESSAGES/messages.mo
MoinMoin/_tests/wiki/index/
MoinMoin/themes/modernized/static/css/stylus/normalize.css
HTML/
.coverage
.project
.pydevproject
.settings
.DS_Store
.cache/
.idea/
.sqlite
*.orig
*.rej
docs/devel/api/modules.rst
upload.py
*~
.*swo
.*swp
activate.bat
deactivate.bat
moin.bat
m.bat
activate
moin
m
m-*.txt
