repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
- repo: https://github.com/psf/black
  rev: 26.1.0
  hooks:
  - id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
  - id: ruff
- repo: https://github.com/PyCQA/bandit
  rev: 1.9.3
  hooks:
  - id: bandit
    args: ["-c", "pyproject.toml"]
    additional_dependencies: ["bandit[toml]"]
    exclude: |
      (?x)(
        ^quickinstall.py|
        /_tests/|
        ^_ui_tests/
      )
