# stuff we need to include into the sdist is handled automatically by
# setuptools_scm - it includes all git-committed files.

# we want to exclude some committed files/dirs not needed in the sdist:
exclude .gitattributes .gitignore .travis.yml

# include translations
include src/moin/translations/*/LC_MESSAGES/messages.mo
