// admonitions  - no moin- prefix added  here, these classes are used within pages: {{{#!wiki caution

#moin-content
    div.caution
        background-image url("../img/admonitions/caution.png")
    div.important
        background-image url("../img/admonitions/important.png")
    div.note
        background-image url("../img/admonitions/note.png")
    div.tip
        background-image url("../img/admonitions/tip.png")
    div.warning
        background-image url("../img/admonitions/warning.png")

    div.caution, div.important, div.note, div.tip, div.warning
        color black
        background-color #F9F9FF
        background-repeat no-repeat
        background-position 8px 8px
        border 1px solid #E5E5E5
        margin 10px 30px 10px 30px
        min-height 64px
        padding-left 64px
        clear both
        p
            margin-top 8px  // to align text with big graphic
