//moin2 modernized theme - blog css

// color have been used from the color palette
@import "color_palette"

#moin-blog-header
    margin 1em 0 -1em 0

#moin-blog-body
    display table
    width 100%

#moin-blog-content
    padding 0 2em 0 0
    display table-cell
    width 80%

#moin-blog-sidebar
    display table-cell
    width 20%

.moin-blog-icon
    font-size 1.6em

.moin-blog-entry-info
    font-size 0.8em
    color footer_color

.moin-blog-entry-bottominfo
    font-size 0.8em
    color footer_color

.moin-blog-entry-modify
    font-size 0.8em
    margin 0
    float right

ul.moin-blog-entry-tags
    list-style none
    display inline
    margin 0
    li
        display inline
        &:after
            content ","

ul.moin-blog-entry-tags li:last-child
    &:after
        content ""

.moin-blog-entry
    border 2px solid base_color
    padding-left 10px
    padding-right 10px
    padding-bottom 10px
    border-radius 10px
    background-color table_bg_color

.moin-blog-entry h1
    border-bottom none
    margin-top 0.10em

#moin-blog-header
    margin 1em 0 -1em 0
    font-size 20px
    padding-bottom 10px

#moin-blog-content h1 a
    text-decoration none
    font-size 30px

.moin-noblogentry-message
    padding-top 20px
