//color palette - color variables in theme.styl use these definitons

font_color = #000000
base_color = #aed4fa
body_color = #e6f2fe
page_color = #ffffff
border_style = 1px solid border_color
header_bg_color = #00417f
footer_color = #737373
heading_color = #ffffff
panel_color = #00417f
panel_item_color = #cfcfcf
border_color = #4e7da9
shadow_color = #9d9d9b
table_bg_color = #eef1f6
table_row_color = #d8dfe9
link_color = #00008B
hover_color = #1f9ae0
active_color = #51d443
visited_color = #008B8B
nonexistent_link_color = #939393
nonexistent_hover_color = #1f62ad
selected_link_color = #ffffff
error_color = #ff2727
