/* wiki parser  - no moin- prefix added here, these classes are used within pages: {{{#!wiki solid  */
.comment { color: #555; background-color: #DDF; }
.red { background-color: #FCC; }
.green { background-color: #CFC; }
.blue { background-color: #CCF; }
.yellow { background-color: #FFF29F; }
.orange { background-color: #FFD59B; }
.solid { border: 2px solid #000; padding: 2px; clear: both; }
.dashed { border: 2px dashed #AEBDCC; padding: 2px; clear: both; }
.dotted { border: 2px dotted #AEBDCC; padding: 2px; clear: both; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }
.monospaced { font-family: monospace; }
