{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("System items upgrade") }}</h1>
<p>
{{ _("You can upgrade your system items by uploading an xml file with new items below.") }}
</p>
<form action="{{ url_for('admin.sysitems_upgrade') }}" method="POST" enctype="multipart/form-data">
<fieldset>
    <label for="xmlfile">System items XML file:</label><input type="file" id="xmlfile" name="xmlfile" />
    <input type="submit" name="submit" value="{{ _("Upgrade system items") }}" />
</fieldset>
</form>
{% endblock %}

