{% extends theme("layout.html") %}
{% import "utils.html" as utils %}
{% block content %}
    <h1>{{ _("User ACL Report") }}</h1>
    <h2>{{ _("User Names") }}: {{ user_names|join(', ') }}</h2>
    <table class="table table-hover tablesorter tablesorter-default moin-sortable" data-sortlist="[[0,0],[1,0]]">
        <thead>
            <tr>
                <th>{{ _("Item Names") }}</th>
                <th>{{ _("read") }}</th>
                <th>{{ _("write") }}</th>
                <th>{{ _("create") }}</th>
                <th>{{ _("destroy") }}</th>
                <th>{{ _("admin") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itemwise_acl %}
                <tr>
                    <td><a href="{{ url_for('frontend.modify_item', item_name=item['fqname']) }}">{% if item['name'] %}{{ item['name']|join(', ') }}{% else %}Item Id: {{ item['itemid'] }}{% endif %}</a></td>
                    <td>{% if item['read'] %}{{ _("read") }}{% endif %}</td>
                    <td>{% if item['write'] %}{{ _("write") }}{% endif %}</td>
                    <td>{% if item['create'] %}{{ _("create") }}{% endif %}</td>
                    <td>{% if item['destroy'] %}{{ _("destroy") }}{% endif %}</td>
                    <td>{% if item['admin'] %}{{ _("admin") }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
