{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("Wiki Configuration Help") }}</h1>
{% for heading, desc, opts in groups %}
    <h2>{{ heading }}</h2>
    {% if desc %}
        <p>{{ desc }}</p>
    {% endif %}
    <table class="zebra">
    <thead>
    <tr>
        <th>{{ _('Variable Name') }}</th>
        <th>{{ _('Default') }}</th>
        <th>{{ _('Description') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for name, default, description in opts %}
        <tr>
            <td>{{ name }}</td>
            <td><code>{{ default }}</code></td>
            <td>{{ description }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endfor %}
{% endblock %}
