{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("WikiConfig Help") }}</h1>
{% for heading, desc, opts in groups %}
    <h2>{{ heading }}</h2>
    {% if desc %}
        <p>{{ desc }}</p>
    {% endif %}
    <table>
    <thead>
    <tr>
        <td><strong>{{ _('Variable name') }}</strong></td>
        <td><strong>{{ _('Default') }}</strong></td>
        <td><strong>{{ _('Description') }}</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for name, default, description in opts %}
        <tr>
            <td>{{ name }}</td>
            <td><code>{{ default }}</code></td>
            <td>{{ description }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endfor %}
{% endblock %}

