pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #008800; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #353580; font-weight: bold } /* Keyword */
.ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.cm { color: #008800; font-style: italic } /* Comment.Multiline */
.cp { color: #008800; font-style: italic } /* Comment.Preproc */
.cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #008800; font-style: italic } /* Comment.Single */
.cs { color: #008800; font-style: italic } /* Comment.Special */
.kc { color: #353580; font-weight: bold } /* Keyword.Constant */
.kd { color: #353580; font-weight: bold } /* Keyword.Declaration */
.kn { color: #353580; font-weight: bold } /* Keyword.Namespace */
.kp { color: #353580; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #353580; font-weight: bold } /* Keyword.Reserved */
.kt { color: #353580; font-weight: bold } /* Keyword.Type */
.m { color: #2c2cff } /* Literal.Number */
.s { color: #7a2424 } /* Literal.String */
.nf { color: #2c2cff } /* Name.Function */
.nx { color: #be646c } /* Name.Other */
.nv { color: #35baba; font-weight: bold } /* Name.Variable */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #2c2cff } /* Literal.Number.Bin */
.mf { color: #2c2cff } /* Literal.Number.Float */
.mh { color: #2c2cff } /* Literal.Number.Hex */
.mi { color: #2c2cff } /* Literal.Number.Integer */
.mo { color: #2c2cff } /* Literal.Number.Oct */
.sa { color: #7a2424 } /* Literal.String.Affix */
.sb { color: #7a2424 } /* Literal.String.Backtick */
.sc { color: #7a2424 } /* Literal.String.Char */
.dl { color: #7a2424 } /* Literal.String.Delimiter */
.sd { color: #7a2424 } /* Literal.String.Doc */
.s2 { color: #7a2424 } /* Literal.String.Double */
.se { color: #7a2424 } /* Literal.String.Escape */
.sh { color: #7a2424 } /* Literal.String.Heredoc */
.si { color: #7a2424 } /* Literal.String.Interpol */
.sx { color: #7a2424 } /* Literal.String.Other */
.sr { color: #7a2424 } /* Literal.String.Regex */
.s1 { color: #7a2424 } /* Literal.String.Single */
.ss { color: #7a2424 } /* Literal.String.Symbol */
.fm { color: #2c2cff } /* Name.Function.Magic */
.vc { color: #35baba; font-weight: bold } /* Name.Variable.Class */
.vg { color: #b5565e; font-weight: bold } /* Name.Variable.Global */
.vi { color: #35baba; font-weight: bold } /* Name.Variable.Instance */
.vm { color: #35baba; font-weight: bold } /* Name.Variable.Magic */
.il { color: #2c2cff } /* Literal.Number.Integer.Long */
