{% import "forms.html" as forms %}

{% macro meta_editor(form, may_admin) %}
    <h2>Blog metadata</h2>
    <dl>
        {% if may_admin %}
            {{ forms.render(form['acl']) }}
        {% else %}
            {{ forms.raw_input(form['acl'], type='hidden') }}
        {% endif %}
        {% for e in [
            'name',
            'itemtype',
            'contenttype',
            'summary',
            'tags',
            'supertags',
            ] %}
            {{ forms.render(form[e]) }}
        {% endfor %}
    </dl>
{% endmacro %}

{% macro basic_meta_editor(form) %}
    {% for e in [
        'name',
        'itemtype',
        'contenttype',
        'summary',
        'tags',
        'supertags',
        ] %}
        <div class="form-group">
            {{ gen.label(form[e]) }}
            {{ gen.textarea(form[e], rows='1', class='form-control') }}
        </div>
    {% endfor %}
{% endmacro %}
