{% extends theme("layout.html") %}
{% block content %}
    <h1>{{ _("Wiki Configuration Help") }}</h1>
    <div class="moin-wikiconfighelp">
        {% for heading, desc, opts in groups %}
            <h2>{{ heading }}</h2>
            {% if desc %}
                <p>{{ desc }}</p>
            {% endif %}
            <table class="zebra">
                <thead>
                    <tr>
                        <th>{{ _('Variable Name') }}</th>
                        <th>{{ _('Default') }}</th>
                        <th>{{ _('Description') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, default, description in opts %}
                        <tr>
                            <td>{{ name }}</td>
                            {% if len(default) > max_len_default %}
                                <td><code title="{{ default | safe }}"><i class="fa fa-sticky-note-o"></i></code></td>
                            {% else %}
                                <td><code>{{ default }}</code></td>
                            {% endif %}
                            <td>{{ description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
