{# 

  The "goochie" theme  - so named because my son says so  ;)




#}




{#
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
#}


{% extends "base.html" %}

{% import "snippets.html" as snippets with context %}
{% import "utils.html" as utils with context %}
{#{% import "itemviews.html" as itemviews with context %}#}




{# riped out of utils.html #}
{% macro parse_location_breadcrumbs() %}
    {%- for segment_name, segment_path, exists in theme_supp.location_breadcrumbs(fqname) -%}
        >
        {%- if not loop.last %}
            <a href="{{ url_for('frontend.show_item', item_name=segment_path) }}" 
                                                      {%- if not exists -%}class="moin-nonexistent"{%- endif -%}>
                {{ segment_name|shorten_fqname }}
	    </a> > 
        {%- else %}
            <a href="{{ url_for('frontend.show_item', item_name=segment_path) }}"
                                                      {% if not exists %}class="moin-nonexistent"{% endif %}>
                {{ segment_name|shorten_fqname }}
            </a>
        {%- endif %}
    {%- endfor %}
{% endmacro %}



{# ripped from itemviews.html #}


{% block layout %}

    <div id="surround-margin">
        <header id="top-header">
            <div id="top-header-lhs">
                {%- if snippets.logo() %}
                    <div id="top-header-lhs-logo">
                        <a href="{{ url_for('frontend.show_item', item_name=cfg.root_mapping.get('', cfg.default_root)) }}">{{ snippets.logo() }}</a>
                    </div>
                {%- endif %}
                {%- if cfg.sitename %}
                    <div id="top-header-lhs-sitename">
                        <a href="{{ url_for('frontend.show_item', item_name=cfg.item_root) }}">{{ cfg.sitename }}</a>
                    </div>
                {%- endif %}
            </div>
            <div id="top-header-rhs">
                <div id="top-header-rhs-user-tools">
                    {{ utils.user_login_logoff() }}
                </div>
                {%- if search_form %}
                <div id="top-header-rhs-site-search"> 
                    {{ header_search(search_form) }}
                </div>
                {%- endif %}
                {% set navibar_items = theme_supp.navibar(fqname) %}
                {% if navibar_items %}
                <div id="top-header-rhs-site-links"> 
                    {% for cls, url, text, title in navibar_items %}
                    {% if (text != "Home") %}
                    <a href="{{ url }}" {% if title %}title="{{ title }} : {{ url|safe }}"{% else %}"{{ url|safe }}"{% endif %}>{{ text }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </header>
        <header id="nav-header">
            <div class="top-header-row">
                <div id="you-are-here">
                    <p>You you here: {{ parse_location_breadcrumbs() }}</p>
                </div>
            </div>
        </header>

        <main id="main">
            <div id="flushed-to-top">
                <header id="page-header">
                  {{ snippets.page_header() }}
                </header>
                <article id="page-main">
                    <div id="moin-page" role="main" lang="{{ theme_supp.content_lang }}" dir="{{ theme_supp.content_dir }}">
                        {% block item -%}
                            <div id="moin-content">
                                <div id="moin-flash">  
                                    {% for category, msg in get_flashed_messages(with_categories=true) %}
                                        <p class="moin-flash moin-flash-{{ category }}">{{ msg }}</p>
                                    {% endfor %}
                                </div>
                                {% block content %}
                                    
                                {% endblock %}
                            </div>
                        {%- endblock %}
                    </div>
		</article>
            </div>
            <div id="flushed-to-botom">
                <footer id="page-footer">
                  {{ snippets.page_footer() }}
                </footer>
            </div>
        </main>

        <footer id="bottom-footer">
            <div class="bottom-footer-row">
                <div id="bottom-footer-last-edit-info">
                    {% if rev %}
                        <p id="moin-pageinfo" lang="{{ theme_supp.ui_lang }}" dir="{{ theme_supp.ui_dir }}">
                            {{ _("Last modified") }} {{ rev.meta['mtime']|datetimeformat }}
                            {{ _("by") }} {{ utils.editor_info(rev.meta) }}
                            {% if snippets.show_revinfo is defined %}
                                (rev {{ rev.revid | shorten_id }})
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                <div id="bottom-footer-copyright">
                    {{ snippets.license_info() }}
                </div>
            </div>
            <div class="bottom-footer-row">
                <div id="bottom-footer-credits">
                    {{ snippets.creditlogos() }}
                    {{ snippets.credits() }}
                </div>
            </div>
        </footer>
    </div>

    <div id="sidebar">
      {#{{ itemviews }}#}
	  {% block footer_itemviews %}{% endblock %}
    </div>

{% endblock %}
