{% extends theme("layout.html") %}
{% import theme("blog/utils.html") as blog_utils %}

{% if blog_item %}
    {% set blog_header = blog_item.content._render_data()|safe %}
    {% set blog_name = blog_item.name %}
    {% set supertags = blog_item.meta['supertags'] %}
{% endif %}

{% block theme_stylesheets %}
    {{ super() }}
    <link media="all" rel="stylesheet" href="{{ theme_static('css/blog.css') }}" />
{% endblock %}

{% block content %}
    {% block content_data %}
        <div id="moin-content-data">
            <div id="moin-blog-header">
                {% if blog_header %}
                    {{ blog_header }}
                {% endif %}
            </div>
            <div id="moin-blog-body">
                <div id="moin-blog-content">
                {% block blog_content %}<br />{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block local_panel  %}
    <ul>
        {% if blog_name and supertags %}
        <li>
            {{ blog_utils.widget_supertags(blog_name, supertags) }}
        </li>
        {% endif %}
        <li>
            {{ _("Views") }}
            {{ itemviews }}
        </li>
    </ul>
{% endblock %}
