// admonitions  - no moin- prefix added  here, these classes are used within moinwiki: {{{#!wiki caution
// ReST: .. caution:: some text
// Docbook: <caution><para>some text</para></caution>

// TODO: create icons for attention, danger, error, and hint.
#moin-content
    div.attention
        background-image url("../img/admonitions/important.png")
    div.caution
        background-image url("../img/admonitions/caution.png")
    div.danger
        background-image url("../img/admonitions/warning.png")
    div.error
        background-image url("../img/admonitions/warning.png")
    div.hint
        background-image url("../img/admonitions/tip.png")
    div.important
        background-image url("../img/admonitions/important.png")
    div.note
        background-image url("../img/admonitions/note.png")
    div.tip
        background-image url("../img/admonitions/tip.png")
    div.warning
        background-image url("../img/admonitions/warning.png")

    div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning
        color black
        background-color #F9F9FF
        background-repeat no-repeat
        background-position 8px 8px
        border 1px solid #E5E5E5
        margin 10px 30px 10px 30px
        min-height 64px
        padding-left 64px
        clear both
        p
            margin-top 8px  // to align text with big graphic
