//color palette - color variables in main.styl use these definitons

font_color = #000000
base_color = #d6d5d0
page_color = #f0f0f0
border_style = 1px solid border_color
header_bg_color = #2c2c2a
footer_color = #616161
heading_color = #ffffff
panel_color = #2c2c2a
border_color = #cccccc
shadow_color = #9d9d9b
table_bg_color = #d0d0d0
link_color = #4fa8fa
hover_color = #007cef
active_color = #51d443
visited_color = #5693c1
nonexistent_link_color = #bababa
nonexistent_hover_color = #ff2727
error_color = #ff2727