// shows changes made as a side by side difference.

.moin-diff
    width 99%
    table-layout fixed
    margin .3em

.moin-diff-header
    vertical-align top
    word-wrap break-word
    font-size 92%

.moin-diff-info
    margin .33em .25em

.moin-diff-info-value
    white-space normal

.moin-diff-info-caption
    display inline-block
    min-width 5em

.moin-diff-line-number
    background-color #E6E6E7

.moin-diff-added
    background-color #F0F8FF
    vertical-align top
    width 50%
    white-space pre-wrap
    word-wrap break-word
    font-family monospace
    padding .5em
    span
        background-color #B5F2B6

.moin-diff-removed
    background-color #FFF5EE
    vertical-align top
    width 50%
    white-space pre-wrap
    word-wrap break-word
    font-family monospace
    padding .5em
    span
        background-color #F1EEB9
