/* smileys -- <span class="moin-text-icon moin-smile">:-)</span> */
.moin-text-icon { font-size: 0; color: transparent; }
.moin-alert:before { content: url('../img/smileys/alert.png'); }
.moin-angry:before { content: url('../img/smileys/angry.png'); }
.moin-attention:before { content: url('../img/smileys/attention.png'); }
.moin-biggrin:before { content: url('../img/smileys/biggrin.png'); }
.moin-checkmark:before { content: url('../img/smileys/checkmark.png'); }
.moin-devil:before { content: url('../img/smileys/devil.png'); }
.moin-frown:before { content: url('../img/smileys/frown.png'); }
.moin-icon-error:before { content: url('../img/smileys/icon-error.png'); }
.moin-icon-info:before { content: url('../img/smileys/icon-info.png'); }
.moin-idea:before { content: url('../img/smileys/idea.png'); }
.moin-ohwell:before { content: url('../img/smileys/ohwell.png'); }
.moin-prio1:before { content: url('../img/smileys/prio1.png'); }
.moin-prio2:before { content: url('../img/smileys/prio2.png'); }
.moin-prio3:before { content: url('../img/smileys/prio3.png'); }
.moin-redface:before { content: url('../img/smileys/redface.png'); }
.moin-sad:before { content: url('../img/smileys/sad.png'); }
.moin-smile:before { content: url('../img/smileys/smile.png'); }
.moin-smile2:before { content: url('../img/smileys/smile2.png'); }
.moin-smile3:before { content: url('../img/smileys/smile3.png'); }
.moin-smile4:before { content: url('../img/smileys/smile4.png'); }
.moin-star_off:before { content: url('../img/smileys/star_off.png'); }
.moin-star_on:before { content: url('../img/smileys/star_on.png'); }
.moin-thumbs-up:before { content: url('../img/smileys/thumbs-up.png'); }
.moin-tired:before { content: url('../img/smileys/tired.png'); }
.moin-tongue:before { content: url('../img/smileys/tongue.png'); }
