@import "bootstrap.less";

.moin-breadcrumb {
  .breadcrumb;
  > li {
    &+li:before {
      content: "»"; // right angular brackets, custom separator
    }
  }
}

.moin-nav {
  .nav;
  margin-bottom: 20px;  // override bottom-margin nav-tabs
}

.moin-shadow {
  > li {
    > a {
      .form-control-focus(); // adds shadow onfocus
    }
  }
}

.moin-location-breadcrumb {
  padding-top: 12px;
}

.moin-nonexistent {
  color: @link-nonexistent-color;
  &:hover {
    color: @link-nonexistent-hover-color;
  }
}

.moin-sidebar {
  .list-group;
  overflow: hidden;
}

.moin-navbar-inverse {
  .navbar-inverse;
  background-color: darken(@moin-navbar-inverse-color, 5%);
  .navbar-nav {
    > li > a {
      color: lighten(@moin-navbar-inverse-color, 55%);
    }
  }
}

.moin-quicklink {
  position: relative;
  padding: 10px 15px 10px 15px;
  border: 1px solid @list-group-border;
  margin-bottom: -1px;

  &:last-child {
    margin-bottom: 0;
    .border-bottom-radius(@border-radius-base);
  }

  // Hover state
  &:hover,
  &:focus {
    background-color: @list-group-hover-bg;
  }
}

.moin-quicklink-label {
  display: block;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.moin-quicklink-delete {
  position: absolute;
  left: 80%;
  top: 25%;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}