
// Diffs
// -------------------------
@moin-diff-removed:		 #ffdddd;
@moin-diff-added:		 #ccffcc;


// Links
// -------------------------
@link-nonexistent-color: lighten(@brand-danger, 15%);
@link-nonexistent-hover-color: @brand-danger;


// Moin-Inverted Navbar
//----------------------
@moin-navbar-inverse-color:					#205081;
@moin-navbar-inverse-bgcolor:				darken(@moin-navbar-inverse-color, 5%);
@moin-navbar-inverse-textcolor:				lighten(@moin-navbar-inverse-color, 55%);

// Large screen / wide desktop
@container-large-desktop:   1300px;
@container-tablet:          728px;

// Darker-Navbar and List heading background
@navbar-bg: #1b436d;

// Search
// -------------------------
@searchstats_color:              #808080;
@search_option_bar_color:        #1b436d;
@search_option_bar_text_color:   #c8ddf1;

// Bootstrap
// -------------------------
@bootstrap_default_blue:         #428bca;

// General colors
// -------------------------
@white:                          #ffffff;
