@import "notice.less";

/* start of bootstrap.less */
@import "bootstrap.less";
/* end of bootstrap.less */

@import "moin-variables.less";


@import (less) "smileys.css";

/* start of admonitions.css */
@import (less) "admonitions.css";
/* end of admonitions.css */

@import (less) "userstyles.css";

/* start of pygments colorful.css */
@import (less) "colorful.css";
/* end of pygments colorful.css */

@import (less) "mime_type_icons.css";
@import (less) "moin_diff.css";

/* start of basic theme custom css for moin2 */

@grid-float-breakpoint: @screen-xs;
@media screen and (min-width: @grid-float-breakpoint) {
  .moin-pull-right {
    .pull-right;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:hover, &:focus {
    .moin-permalink {
      display: inline;
      text-decoration: none;
    }
  }
}

.moin-permalink {
  display: none;
}

.moin-logo {
  .text-center;
  position: relative;
  padding-top: 23px;
  padding-bottom: 23px;
}

.moin-flash {
  .alert;
  &>a {
    .alert .alert-link;
  }
}

.moin-flash-hint {
  &>a {
    .alert-success .alert-link;
  }
  .alert-success;
}

.moin-flash-info {
  &>a {
    .alert-info .alert-link;
  }
  .alert-info;
}

.moin-flash-warning, .moin-flash-error, .moin-error {
  &>a {
    .alert-danger .alert-link;
  }
  &>li {
    list-style-type: none;
  }
  .alert-danger;
  padding-left: 0px;
}

.moin-user-action-special {
  .list-group-item;
  width: 100%;
  color: @link-color;
  &:hover,
  &:focus,
  &.active {
    color: @link-hover-color;
    background-color: @list-group-hover-bg;
    border: 1px solid @list-group-border;
  }
  border: 1px solid @list-group-border;
  border-radius: 0;
  padding: 5px 15px;
}

.moin-viewoptions, .moin-itemactions, .moin-useractions {
  float: right;
}

.list-group-item {
  text-align: left;
  padding: 5px 10px;
  background-color: @search_option_bar_text_color;
  border: 1px solid @search_option_bar_text_color;
  > a {
    color: @search_option_bar_color;
  }
}

.moin-list-heading {
  background-color: @navbar-bg;
  border: 1px solid @navbar-bg;
  font-variant: small-caps;
  color: @search_option_bar_text_color;
  > a {
    color: @search_option_bar_text_color;
  }
}

.moin-breadcrumb {
  .breadcrumb;
  > li {
    &+li:before {
      content: "\0020"; // Unicode space which is non-collapsing
      padding: 0px;
    }
  }
}

.moin-nav {
  .nav;
  margin-bottom: 20px;  // override bottom-margin nav-tabs
}

.moin-shadow {
  > li {
    > a {
      .form-control-focus(); // adds shadow onfocus
    }
  }
}

.moin-location-breadcrumb {
  display: inline;
}

.moin-nonexistent {
  color: @link-nonexistent-color !important;
  &:hover {
    color: @link-nonexistent-hover-color;
  }
}

.moin-sidebar-panels {
  .list-group;
  overflow: hidden;
  padding-top: 15px;
}

.moin-sidebar-panels a .hidden-sm,
.moin-sidebar-panels a .hidden-xs {
  display: inline !important;
}

.moin-sidebar-panels .moin-sidebar-form {
  padding-bottom: 10px;
}

.moin-navbar-inverse {
  .navbar-inverse;
  background-color: @moin-navbar-inverse-bgcolor;
  padding-left: 0px;
  padding-right: 0px;
  .navbar-nav {
    > li > a {
      color: @moin-navbar-inverse-textcolor;
    }
    > li > a.active {
      color: @navbar-inverse-link-hover-color;
    }
  }
  .navbar-text {
    color: @moin-navbar-inverse-textcolor;
    > a {
      color: @moin-navbar-inverse-textcolor;
    }
  }
  .navbar-brand {
    color: @moin-navbar-inverse-textcolor;
  }
}

.moin-quicklink {
  position: relative;
  padding: 5px 15px 5px 15px;
  background-color: @search_option_bar_text_color;
  border: 1px solid @search_option_bar_text_color;
  margin-bottom: -1px;

  > a {
    color: @search_option_bar_color;
  }

  &:last-child {
    margin-bottom: 0;
    .border-bottom-radius(@border-radius-base);
  }

  // Hover state
  &:hover,
  &:focus {
    background-color: @list-group-hover-bg;
  }
}

.moin-quicklink-label {
  display: block;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.moin-quicklink-delete {
  position: absolute;
  left: 80%;
  top: 25%;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}





.comment {
  color: @text-color;
  background-color: lighten(@link-color, 40%);
}

// added to stretch across the whole width, which is reduced by navbar.less's navbar-form
.moin-navbar-form{
  .navbar-form;
  padding-left: 0px;
  padding-right: 0px;
}

.moin-navbar-header{
  .navbar-header;
  padding-left: 0px;
  padding-right: 0px;
}

.moin-navbar-header > button {
  float: left;
}

.moin-toggle-comments-button, .moin-transclusions-button{
  font-weight: normal;
}

a.wikilink{
  color: @search_option_bar_color;
}
.moin-bcs-subitems{
  z-index: 500;
}
ul.moin-breadcrumb ul.moin-bcs-subitems{
  background-color: @search_option_bar_color;
}
ul.moin-breadcrumb,ul.moin-breadcrumb ul.moin-bcs-subitems{
  padding: 0;
  margin: 0;
  display: inline-block;
}
ul.moin-breadcrumb li ul.moin-bcs-subitems li{
  list-style-type: none;
  display: block;
}
ul.moin-breadcrumb li ul.moin-bcs-subitems li a{
  padding: 10px;
  display: inline-block;
  color: @white;
}
ul.moin-breadcrumb li {
  position: relative;
}
ul.moin-breadcrumb li ul.moin-bcs-subitems{
  display: none;
  position: absolute;
}
ul.moin-breadcrumb li:hover ul.moin-bcs-subitems{
  display: block;
}
.moin-thead{
    background-color: silver;
}
html, body {
  height: 100%;
}
// CSS definitions for Index UI borrowed from foobar and modernized theme
#filter-btn {
  background-color: @bootstrap_default_blue;
  border-radius: 3px;
  display: inline;
  padding: 10px;
  color: @white;
  margin-bottom: 10px;
}
.moin-contenttypes-wrapper {

  div {
    cursor: pointer;
    display: block;
  }

  form {
    display: none;

    ul {
      -webkit-padding-start: 0px;
      -moz-padding-start: 0px;
      overflow: hidden;
    }

    li {

      list-style-type: none;
      float: left;
      width: 50%;
      border-radius: 5px;
      display: inline;
      padding: 5px;
      margin-top: 5px;

      label {
        cursor:  pointer;
        display: inline;
        line-height: 1.5em;
        vertical-align: middle;
        color: #1e90ff;
      }

      span {
        font-size: .8em;
        display: block;
      }

    }

    .filters {
      background-color: white;
      border: none;
      margin-top: 1em;
      float: none;
      display: block;

      .filter-toggle, .filter-more {
        font-size: 1em;
        background-color: #eeeeee;
        border: 1px solid #dddddd;
        padding: 0.5em;
        border-radius: 0.5em;
        margin: 0.2em;
        text-decoration: none;
      }
    }
  }
}
.moin-item-index div {

  .moin-select-item {
    display: inline-block;
    width: 17px;
    cursor: default;
    margin-top: 1em;
  }
}
.moin-download-link {
  display: none;
}
.moin-index-message {
  width: 50%;
  margin: 1em auto;
  text-align: center;
  display: none;

  span {
    padding: 4px;
    background-color: #007cef;
    color: @white;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
.moin-index-path {
  margin-left: .5em;

  &:before {
    content: icon-folder-close;
    margin: 0.3em
  }
}
.moin-clr {
  clear: both;
}
.moin-item-index {
  width: 100%;
  margin-left: 0.5em;

  div {
    float: left;
    width: 16.5em;

    .moin-select-item {
      display: inline-block;
      width: 17px;
      cursor: default;
      margin-top: 1em;
    }
  }
}
.moin-index-separator {
  clear: both;
  border-top: 1px dashed #ccc;
  display: none;
}
.popup-container {
  margin: 0;
  border: 5px solid @bootstrap_default_blue;
  border-radius: 6px 6px 0 0;
}
.popup-header {
  background-color: @bootstrap_default_blue;
  color: @white;
  padding: 10px;
  margin: 0;
}
input {

  &[value="X"] {
    padding: 0.1px;
    margin: -.2em;
    width: 19px;
    border-radius: 2em;
    float: right;

    &:hover {
      background: #f4f4f4;
    }
  }

  &[type="submit"],&[type="button"],button {
    font-weight: bold;
    font-size: .75em;
    background: #d6d5d0;
    padding: 4px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #9d9d9b;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 1px 1px 2px #000;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
input,select {
  padding: 3px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.popup-body {
  clear: both;
  background-color: #f4f4f4;
  color: #000000;
  padding: 10px;
  margin: 0;

  label {
    margin: 5px;
  }

  input {
    margin: 8px 5px;
  }
}
#moin-initials {
  width: 90%;
  margin: 5px auto;
  text-align: center;

  a {
    display: inline-block;
    margin: 0;
    padding: 4px 5px;

    &:hover,&.selected {
      background: @bootstrap_default_blue;
      border-radius: 5px;
      color: @white;
      text-decoration: none
    }
  }
}
#popup {
  background: transparent;
  padding: 5px;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 30%;
  display: none;
  z-index: 10;
}
.moin-error {
  color: #ff2727;
  background: #d6d5d0;
  padding: 4px;
  margin: 1em;
  text-align: center;
  list-style-type: none;
  border-radius: 5px;
}
.moin-textcha {
  padding-top: .2em;
}
#moin-upload-cont {
  min-height: 10px;
}
#file_upload {
  margin-top: 2em;
}
form.upload_file {
  background-color: #d6d5d0;
  border: 1px solid #ccc;
 cursor: pointer;
  direction: ltr;
  font-weight: bold;
  height: 2.5em;
  line-height: 2.5em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 15em;
  display: block;
  box-shadow: 0 0 5px #9d9d9b;

  &:hover {
    box-shadow: 0 0 5px #000;
  }

  input {
    cursor: pointer;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
  }

  button {
    display: none
  }
}
.file_upload_template .file_upload_start {
  visibility: hidden;
  border-width: 0;
  padding: 0;

  button {
    width: 0;
  }
}
.file_name {
  word-break: break-all;
  word-wrap: break-word;
  max-width: 10em;
}
.upload-form {
  display: none;
}
.moin-drag {
  font-size: .7em;
  color: #9d9d9b;
}
#lightbox {
  background: #f4f4f4;
  opacity: .7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  margin: 0;
  display: none
}
.moin-content {
  padding-bottom: 10%;
}
.moin-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.moin-search-option-bar {
  padding-left: 10px;
  border: 1px solid @gray;
  background-color: @search_option_bar_color;
  color: @search_option_bar_text_color;
  border-radius: 5px;
  > span {
    float: right;
    padding: 10px;
  }
}
.container-fluid {
  min-height: 100%;
  position: relative;
}
// set min-width to prevent search box from floating off window to right
@media (max-width: 992px) {
  .moin-content {
    padding-bottom: 250px;
  }
  .moin-footer-credits {
    width: 100%;
    padding-right: 30px;
  }
  .moin-footer-logo {
    padding-left: 30px;
  }
}

.tablesorter-header {
  background-image: url('../../../static/img/bg.png');
  background-repeat: no-repeat;
  background-position: left center;
}
.tablesorter-headerAsc {
  background-image: url('../../../static/img/asc.png');
}
.tablesorter-headerDesc {
  background-image: url('../../../static/img/desc.png');
}
.tablesorter-header.sorter-false {
  background-image: None;
}
.tablesorter-header-inner {
  padding-left: 10px;
  cursor: pointer;
}
.sorter-false > .tablesorter-header-inner {
  padding-left:0px;
}

html{
  overflow-y: scroll;
}
.moin-hist-rev {
  text-align: center;
}
#moin-button-diff {
  text-align: center;
}
.menu .submenu {
  display: none;
  margin-bottom: 0px;
}
.menu:hover .submenu {
  display: block;
}
.moin-index-actions {
  padding-left: 0;
  .navbar-collapse {
    padding-left: 0;
  }
}
#editor > textarea {
  width: 100%;
}
.moin-history-save:before {
  content: url("../img/moin-save.png");
}
.moin-history-trash:before {
  content: url("../img/moin-trash.png");
}
.moin-history-rename:before {
  content: url("../img/moin-rename.png");
}
.moin-history-copy:before {
  content: url("../img/moin-copy.png");
}
.moin-history-revert:before {
  content: url("../img/moin-revert.png");
}
.moin-history-container-header {
  margin-bottom: 5px;
  > h2 {
    display: inline;
  }
  > .bookmark-link {
    margin-bottom: 15px;
    margin-left: 20px;
    height: 2em;
    line-height: 1em;
  }
}
.tickets-sort-button .dropdown-menu li form button {
  display: block;
  border: none;
  background-color: @white;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  white-space: nowrap;
}
.tickets-sort-button .dropdown-menu li form button:hover,
.tickets-sort-button .dropdown-menu li form button:focus {
  background-color: #f5f5f5;
}

/* Support for extra small viewports */
@media screen and (max-width: @screen-sm-min) {
  #moin-main-wrapper {
    position: relative;
  }
  /* Set sidebar width and shift off canvas */
  .moin-sidebar {
    position: absolute;
    top: 0;
    width: 33%;
  }
  .moin-sidebar {
    left: -33%;
  }
  /* When user toggles button (see basic.js) show/hide sidebar */
  #moin-main-wrapper.showsidebar {
    left: 33%;
  }
  /* TODO why does bootstrap display navbar-toggle only at width < 480 when <780 is wanted */
  .navbar-toggle {
    position: relative;
    float: left;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline;
  }
  .navbar-toggle:focus {
    outline: none;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }

}
