{% import "forms.html" as forms %}
{% extends theme("show.html") %}

{% set title = _("DESTROY COMPLETE ITEM '%(item_name)s'", item_name=item.name) %}

{% block content %}
    {% if rev_id == None %}
        <h2>{{ title }}</h2>
        <div class="row">
            <div class="col-md-5">

                {{ gen.form.open(form, method="post", action=url_for('frontend.destroy_item', item_name=item.name)) }}
                    {{ forms.render_errors(form) }}

                    <div class="form-group">
                        {{ forms.render_textcha(gen, form) }}
                        {{ gen.input(form['comment'], type="text", class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ forms.render_submit(form, class='btn btn-primary') }}
                    </div>
                {{ gen.form.close() }}
            </div>
        </div>
    {% else %}
        <h2>{{ _("DESTROY REVISION '%(item_name)s' (rev %(rev_id)s)", item_name=item.name, rev_id=rev_id | shorten_id) }}</h2>
        <div class="row">
            <div class="col-md-5">
                {{ gen.form.open(form, method="post", action=url_for('frontend.destroy_item', item_name=item.name, rev=rev_id)) }}
                    {{ forms.render_errors(form) }}

                    <div class="form-group">
                        {{ gen.label(form['comment']) }}
                        {{ gen.textarea(form['comment'], rows='1', class='form-control') }}
                    </div>
                    {{ forms.render_textcha(gen, form) }}

                    <div class="form-group">
                        {{ forms.render_submit(form, class='btn btn-primary') }}
                    </div>
                {{ gen.form.close() }}
            </div>
        </div>
    {% endif %}
{% endblock %}
