{% set exists = storage.has_item(item_name) %}
{% set current_endpoint = request.endpoint %}

{% from theme("layout.html") import icon with context %}

{% set navtabs = theme_supp.get_action_tabs(item_name, current_endpoint) %}

{% block views %}

    <ul class="moin-nav nav-tabs moin-shadow">
      {% for endpoint, href, maincls, iconcls, title, label in navtabs %}
        <li class={% if maincls %} "{{ maincls }}" {% endif %}>
            <a href="{{ href }}" title="{{ title }}" rel="nofollow">
              <span class="{{ iconcls }}"></span>
                {{ label }}
            </a>
        </li>
      {% endfor %}

    </ul>
{% endblock %}
