{% set exists = storage.has_item(item_name) %}
{% set current_endpoint = request.endpoint %}

{% set navtabs = theme_supp.get_action_tabs(fqname, current_endpoint) %}

{% block views %}
    {% if navtabs %}
        <div class="row">
            <div class="col-lg-12">
                <ul class="moin-nav nav-tabs moin-shadow">
                    {% for endpoint, href, maincls, iconcls, linkcls, title, label in navtabs %}
                        <li {% if maincls %}class="{{ maincls }}"{% endif %}>
                            <a {% if linkcls %}class="{{ linkcls }}"{% endif %} href="{{ href }}" title="{{ title }}" rel="nofollow">
                                <span class="{{ iconcls }}"></span>
                                {{ label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
