{% extends "modify.html" %}
{% from theme("modify_meta.html") import basic_meta_editor %}
{% from theme("modify_text.html") import basic_data_editor %}

{% block content %}
<h2>{{ title }}</h2>
<div id="moin-modify" class="moin-form">
    {{ gen.form.open(form, method='post', enctype='multipart/form-data') }}
    {{ forms.render_errors(form) }}
    {#
       Workaround:
       For *Draw content, hide submit button and form['comment'], since *Draw
       POSTs originate from their respective applets.
    #}
    {% if not form['content_form'].is_draw %}
        {{ forms.render_submit(form, class='btn btn-primary', id='moin-save-text-button') }}
        <dl>
            {{ forms.render_textcha(gen, form) }}
            {{ gen.input(form['comment'], type="text", class="input-block-level") }}
        </dl>
    {% endif %}
    <br/>
    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#editor" data-toggle="tab">Edit</a></li>
            <li><a href="#gmeta" data-toggle="tab">General Meta</a></li>
            <li><a href="#emeta" data-toggle="tab">Extra Meta</a></li>
            <li><a href="#help" data-toggle="tab">Help</a></li>
        </ul>    
        <div class="tab-content">
            <div class="tab-pane active" id="editor">
                {{ basic_data_editor(form['content_form'], item_name, class='input-block-level') }}
            </div>
            <div class="tab-pane" id="gmeta">
                {{ basic_meta_editor(form['meta_form']) }}
            </div>
            <div class="tab-pane" id="emeta">
                {{ forms.render(form['extra_meta_text'], class='span6') }}
            </div>
            <div class="tab-pane" id="help">
                {% if form['content_form'].help %}
                    <pre id="moin-editor-help">{{ form['content_form'].help }}</pre>
                {% endif %}
            </div>
        </div>
    </div> <!-- left tabbable -->
    {#
    {{ gen.textarea(form['meta_text'], lang='en', dir='ltr', rows=rows_meta, cols=cols) }}
    <br />
    {{ forms.render_errors(form['meta_text']) }}
    #}
    {{ gen.form.close() }}
</div>
{% endblock %}