{% extends theme("layout.html") %}
{% import "utils.html" as utils %}
{% import theme("itemviews.html") as itemviews with context %}
{% set exists = storage.has_item(item_name) %}

{% set user_actions, item_navigation, item_actions = theme_supp.get_local_panel(item_name) %}

{% macro local_panel_main(panelname, paneltitle) %}
    {% for endpoint, href, iconcls, label, title in panelname %}
        {% if loop.first %}
            <div class="list-group-item">{{ paneltitle }}</div>
        {% endif %}
        <a class="list-group-item" href="{{ href }}" title="{{ title }}" rel="nofollow">
            <i class="{{ iconcls }} icon-fixed-width"></i>
            {{ label }}
        </a>
    {% endfor %}
{% endmacro %}

{% block views %}
    {{ itemviews }}
{% endblock %}

{% block content %}

    {% block content_data %}
        {% if data_rendered %}
        <div id="moin-content-data">
            {{ data_rendered }}
        </div>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block user_actions %}
    {{ local_panel_main(user_actions,"User Actions") }}
{% endblock %}

{% block item_navigation %}
    {{ local_panel_main(item_navigation, "Item Navigation") }}
{% endblock %}

{% block item_actions %}
    {{ local_panel_main(item_actions, "Item Actions") }}
{% endblock %}

{% block local_panel %}
        
        <!-- user, site, item actions -->
    <div class="list-group">
        {{ self.user_actions() }}
            
        {{ self.item_navigation() }}

        <div class="list-group-item">View Options</div>
        <button type="button" 
                class="btn btn-default moin-user-action-special moin-toggle-comments-button" 
                data-toggle="button"
                title="Show Comments">
            <span class="pull-left">
                <i class="icon-comment icon-fixed-width"></i>
                Comments 
            </span>
        </button>
        <button type="button" 
                class="btn btn-default moin-user-action-special moin-transclusions-button" 
                data-toggle="button"
                title="Show Transclusions">
            <span class="pull-left">
                <i class="icon-edit icon-fixed-width"></i>
                Transclusions
            </span>
        </button>

        {{ self.item_actions() }}
    </div>

{% endblock %}