{# Logo in the header #}
{% macro logo() -%}
    <img src="{{ url_for('static', filename='logos/moinmoin.png') }}" id="moin-img-logo" alt="Logo">
{%- endmacro %}


{# Helper macro to create image links #}
{% macro creditlogo(link, logo, alt, title) %}
    <a class="navbar-brand moin-footer-logo" href="{{ link }}" title="{{ title }}"><img src="{{ logo }}" alt="{{ alt }}" /></a>
{% endmacro %}


{# Image links in the footer #}
{% macro creditlogos(start='<div class="navbar-header">'|safe, end='</div>'|safe, sep=''|safe) %}
    {{ start }}
    {{ creditlogo('http://moinmo.in/', url_for('static', filename='logos/moinmoin-small.png'),
       'MoinMoin powered', 'This site uses the MoinMoin Wiki software.') }}
    {{ end }}
{% endmacro %}


{# Helper macro to generate text links #}
{% macro credit(link, text, title) -%}
    <a href="{{ link }}" title="{{ title }}">{{ text }}</a>
{%- endmacro %}


{# Text links in the footer #}
{% macro credits(start='<ul class="nav navbar-nav pull-right moin-footer-credits"> <li>'|safe, end='</li> </ul>'|safe, sep='</li> <li>'|safe) %}
    {{ start }}
    {{ credit('http://moinmo.in/', 'MoinMoin Powered', 'This site uses the MoinMoin Wiki software.') }}
    {{ sep }}
    {{ credit('http://moinmo.in/Python', 'Python Powered', 'MoinMoin is written in Python.') }}
    {{ sep }}
    {{ credit('http://moinmo.in/GPL', 'GPL licensed', 'MoinMoin is GPL licensed.') }}
    {{ sep }}
    {{ credit('http://validator.w3.org/check?uri=referer', 'Valid HTML 5', 'Click here to validate this page.') }}
    {{ end }}
{% endmacro %}

{# Additional JavaScript #}
{% macro add_scripts() -%}
    <script src="{{ url_for('static', filename='js/basic.js') }}"></script>
{% endmacro %}
