{% extends "ticket/base.html" %}

{% block title_text %}
    {{ _("Create new ticket") }}
{% endblock %}

{% block form_controls %}
    <h2>{{ _("Describe the ticket") }}</h2>

    <dl>
        <div class="form-group">
            {{ gen.label(form['message']) }}
            {{ gen.textarea(form['message'], class='form-control') }}
        </div>
    </dl>
{% endblock %}
{% block ticket_metadata %}

    <h2>{{ _("Provide metadata") }}</h2>
    <dl>
    {{ forms.render_errors(form) }}
    {{ render_meta() }}
    </dl>
    {{ _("Suggested Tags: ") }}
    {% for suggested_tag in suggested_tags %}
        {{ suggested_tag }}
    {% endfor %}
    <dl>
    {{ render_selectlists() }}
    </dl>

    {{ forms.render_submit(form) }}
{% endblock %}
