/*
    Add the css rules common to all themes here. In general, everything
    within moin-content should be defined here and everything within
    the web page header, footer, and sidebars should be defined within the
    theme CSS files. Themes may override any of the rules defined here as
    required.
*/

/* smileys -- <span class="moin-text-icon moin-smile">:-)</span> */
.moin-text-icon { font-size: 0; color: transparent; }
.moin-alert:before { content: url('../img/smileys/alert.png'); }
.moin-angry:before { content: url('../img/smileys/angry.png'); }
.moin-attention:before { content: url('../img/smileys/attention.png'); }
.moin-biggrin:before { content: url('../img/smileys/biggrin.png'); }
.moin-checkmark:before { content: url('../img/smileys/checkmark.png'); }
.moin-devil:before { content: url('../img/smileys/devil.png'); }
.moin-frown:before { content: url('../img/smileys/frown.png'); }
.moin-icon-error:before { content: url('../img/smileys/icon-error.png'); }
.moin-icon-info:before { content: url('../img/smileys/icon-info.png'); }
.moin-idea:before { content: url('../img/smileys/idea.png'); }
.moin-ohwell:before { content: url('../img/smileys/ohwell.png'); }
.moin-prio1:before { content: url('../img/smileys/prio1.png'); }
.moin-prio2:before { content: url('../img/smileys/prio2.png'); }
.moin-prio3:before { content: url('../img/smileys/prio3.png'); }
.moin-redface:before { content: url('../img/smileys/redface.png'); }
.moin-sad:before { content: url('../img/smileys/sad.png'); }
.moin-smile:before { content: url('../img/smileys/smile.png'); }
.moin-smile2:before { content: url('../img/smileys/smile2.png'); }
.moin-smile3:before { content: url('../img/smileys/smile3.png'); }
.moin-smile4:before { content: url('../img/smileys/smile4.png'); }
.moin-star_off:before { content: url('../img/smileys/star_off.png'); }
.moin-star_on:before { content: url('../img/smileys/star_on.png'); }
.moin-thumbs-up:before { content: url('../img/smileys/thumbs-up.png'); }
.moin-tired:before { content: url('../img/smileys/tired.png'); }
.moin-tongue:before { content: url('../img/smileys/tongue.png'); }
/* end of smileys */

/* admonitions  - no moin- prefix added  here, these classes are used within wiki markup:
      Moin wiki: {{{#!wiki caution
      ReST: .. caution:: some text
      Docbook: <caution><para>some text</para></caution>

      TODO: create icons for attention, danger, error, and hint.
*/
div.attention { background-image: url("../img/admonitions/important.png"); }
div.caution { background-image: url("../img/admonitions/caution.png"); }
div.danger { background-image: url("../img/admonitions/warning.png"); }
div.error { background-image: url("../img/admonitions/warning.png"); }
div.hint { background-image: url("../img/admonitions/tip.png"); }
div.important { background-image: url("../img/admonitions/important.png"); }
div.note { background-image: url("../img/admonitions/note.png"); }
div.tip { background-image: url("../img/admonitions/tip.png"); }
div.warning { background-image: url("../img/admonitions/warning.png"); }
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning { color: black; background-color: #F9F9FF; background-repeat: no-repeat; background-position: 8px 8px;
    border: 1px solid #E5E5E5; margin: 10px 30px 10px 30px; min-height: 64px; padding-left: 64px; clear: both; }
div.attention > p,
div.caution > p,
div.danger > p,
div.error > p,
div.hint > p,
div.important > p,
div.note > p,
div.tip > p,
div.warning > p { margin-top: 8px;  /* to align text with big graphic */ }
/* end of admonitions */

/* mime type icons */
a.moin-www:before,
a.moin-http:before,
a.moin-https:before { content: url("../img/mime-type/moin-www.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-file:before,
a.moin-ftp:before { content: url("../img/mime-type/moin-ftp.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-nntp:before,
a.moin-news:before { content: url("../img/mime-type/moin-news.png"); margin: 0 .2em    ; vertical-align: middle; }
a.moin-telnet:before,
a.moin-ssh:before,
a.moin-irc:before,
a.moin-ircs:before { content: url("../img/mime-type/moin-telnet.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mailto:before { content: url("../img/mime-type/moin-email.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-attachment:before { content: url("../img/mime-type/moin-attach.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-interwiki:before { content: url("../img/mime-type/moin-inter.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-action:before { content: url("../img/mime-type/moin-action.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-text:before { content: url("../img/mime-type/moin-text.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-image:before { content: url("../img/mime-type/moin-image.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-audio:before { content: url("../img/mime-type/moin-audio.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-video:before { content: url("../img/mime-type/moin-video.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-application:before { content: url("../img/mime-type/moin-application.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-pdf:before { content: url("../img/mime-type/moin-pdf.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-package:before { content: url("../img/mime-type/moin-package.png"); margin: 0 .2em; vertical-align: middle; }
a.moin-mime-drawing:before { content: url("../img/mime-type/moin-drawing.png"); margin: 0 .2em; vertical-align: middle; }
/* end of mime type icons */

/* transclusion wrapper overlays */
.moin-transclusion { max-width: 100%; }
.moin-item-wrapper { position: relative; display: inline-block; }
div.moin-item-wrapper { /* force bottom border of transcluded headings to extend across entire page */ width: 100%; }
div.moin-item-wrapper,
div.moin-item-wrapper > div,
div.moin-item-wrapper > div > p:first-child,
div.moin-item-wrapper > div > p:last-child { margin: 0; }
div.moin-item-wrapper > div > p:first-child ~ p:last-child { margin-top: 1em; }
a.moin-item-overlay-ul:link,
a.moin-item-overlay-ul:visited,
a.moin-item-overlay-ul:active,
a.moin-item-overlay-lr:link,
a.moin-item-overlay-lr:visited,
a.moin-item-overlay-lr:active { color: transparent; }
.moin-item-overlay-ul,
.moin-item-overlay-lr { display: none; position: absolute; color: transparent; background-color: transparent;
    font-size: 1.2em; font-weight: bold; margin: 0; opacity: .5; padding: 1px; border-color: #428bca; border-style: double; }
.moin-item-overlay-ul { top: -4px; left: -4px; border-width: 3px 0 0 3px; }
.moin-item-overlay-lr { bottom: -4px; right: -4px; border-width: 0 3px 3px 0; }
a.moin-item-overlay-ul:hover,
a.moin-item-overlay-ul:hover ~ a.moin-item-overlay-lr,
a.moin-item-overlay-lr:hover { opacity: .8; background-color: #e1edf7; color: #428bca; text-decoration: none; }
/* end transclusion wrapper overlays */

/* misc moin css keywords */
.moin-suggestions { color: #FF9900; display: inline; }
.moin-suggestion-terms { font-style: italic; display: inline; }
.moin-wordbreak { word-break: break-all; word-wrap: break-word; }
.moin-search-meta { color: green; }
.searchstats { color: gray; }
.searchhitinfobar { display: inline; }
.moin-rights-info { display: inline; float: right; }
.moin-searchoptions > table { table-layout: fixed; }
.moin-searchoptions > table > tbody > tr > th { padding: 5px; text-decoration: underline; }
.moin-searchoptions > table > tbody > tr > td { vertical-align: top; padding-right: 20px; width: 20%; }
.hidden { display: none; visibility: hidden; }
.moin-integer { text-align: right; padding-right: 1em; }
.moin-big {font-size: 1.17em; }
.moin-small { font-size: .83em; }
.moin-inline-label { display: inline; }
.moin-link-list li { padding: 2px 0 2px 0; }
input[type="text"].moin-acl-string { width: 70%; }
#moin-acl-form { display: inline; }

/* tablesorter */
.tablesorter { width: 100%; }
.tablesorter-header { background-image: url('../img/bg.png'); background-repeat: no-repeat; background-position: left center; }
.tablesorter-header.tablesorter-headerAsc { background-image: url('../img/asc.png'); }
.tablesorter-header.tablesorter-headerDesc { background-image: url('../img/desc.png'); }
.tablesorter-header.sorter-false { background-image: None; }
.tablesorter-header-inner { padding-left: 10px; cursor: pointer; }
.sorter-false > .tablesorter-header-inner { padding-left: 0; }

/* tickets */
.moin-existing-tags { display: inline; }
.moin-ticket-create-link,
.moin-ticket-search { display: inline; float: right; }
#ticket-table-tip { color: #4e7da9; }
#ticket-summary { width: 50%; }
.moin-ticket-tags { border-bottom: none; clear: both; }
.moin-ticketsearch-form { display: inline; }
#moin-ticketsearch-query { background-image: url("../../../static/img/search.png"); background-repeat: no-repeat; background-position: 5px;
    padding-left: 24px; width: 150px; margin-left: 7px; }
.moin-ticket-tags { margin-top: 1em; display: none; }
#ticket-list tr td:first-child a { font-family: monospace; }

/* tags tab */
ul.moin-tags { display: block; margin-left: 0; }
ul.moin-tags > li { padding: 5px 0 5px 0; display: inline-block; text-align: center; width: 300px; }
ul.moin-tags li.weight0 { font-size: 100%; }
ul.moin-tags li.weight1 { font-size: 120%; }
ul.moin-tags li.weight2 { font-size: 140%; }
ul.moin-tags li.weight3 { font-size: 160%; }
ul.moin-tags li.weight4 { font-size: 180%; }
ul.moin-tags li.weight5 { font-size: 200%; }
ul.moin-tags li.weight6 { font-size: 220%; }
ul.moin-tags li.weight7 { font-size: 240%; }
ul.moin-tags li.weight8 { font-size: 260%; }
ul.moin-tags li.weight9 { font-size: 280%; }

/* footnotes */
.moin-footnotes { border-top: 1px solid gray; margin: 2em; }
.moin-footnotes p { margin: 1em; }

/* moin default table styling */
table { margin: 1%; }
tr > th,
tr > td { padding: .3em .4em; vertical-align: middle; text-align: left; }
thead > tr > td,
tr > th { border: 1px solid #4e7da9; background-color: #81bbf2; text-align: left; color: #000; }
tr > td { border: 1px solid #4e7da9; }
td p { margin: 0; padding: 0; }
#moin-content table > thead { background-color: #81bbf2; }
#moin-content table > tfoot { background-color: #81bbf2; }

/* zebra table styling */
table.zebra { width: 98%; }
.zebra td form input { box-shadow: none; }
.zebra tbody tr:nth-child(even),
.zebra > tr:nth-child(odd) { background-color: #eee; }

/* footers */
#moin-footer { clear: both; margin: 0 0; width: 100%; }
#moin-pageinfo,
#moin-wiki-license,
#moin-credits,
#moin-version,
#moin-timings { margin: 10px 20px; text-align: left; font-size: .7em; color: #737373; float: left; clear: left; }
#moin-creditlogos { clear: both; float: right; }

/* ordered lists */
ol,
ul { margin-top: .5em; margin-bottom: .5em; }
li p { margin: .25em 0; }
ol.moin-upperalpha-list { list-style-type: upper-alpha; }
ol.moin-loweralpha-list { list-style-type: lower-alpha; }
ol.moin-upperroman-list { list-style-type: upper-roman; }
ol.moin-lowerroman-list { list-style-type: lower-roman; }
ul.moin-nobullet-list { list-style-type: none; }
li ol,
li ul { margin-top: .25em; }

/* definition lists */
dt { margin-top: .5em; font-weight: bold; }
dl > dd { font-size: .92em; margin-left: 3em; margin-top: 0; margin-bottom: 0; }
dd p { margin: .25em 0; }
dd + dd p { margin-top: .67em; }
blockquote { padding-left: 2em; }

/* horizontal rules */
hr { height: 1px; background-color: #4e7da9; border: 0; margin: .9em 0; }
.moin-hr1 { height: 2px; }
.moin-hr2 { height: 3px; }
.moin-hr3 { height: 5px; }
.moin-hr4 { height: 7px; }
.moin-hr5 { height: 9px; }
.moin-hr6 { height: 12px; }

/* headings */
h1 { font-size: 2em; margin: .67em 0; border-bottom: 5px solid #4e7da9; padding-bottom: 5px; }
h2 { font-size: 1.5em; margin: .75em 0; padding-bottom: 4px; }
h3 { font-size: 1.17em; margin: .83em 0; padding-bottom: 3px; }
h4 { margin: 1.12em 0; padding-bottom: 2px; }
h5 { font-size: .83em; margin: 1.5em 0; padding-bottom: 2px; }
h6 { font-size: .75em; margin: 1.67em 0; padding-bottom: 2px; }
h2,
h3,
h4,
h5,
h6 { border-bottom: 3px solid #4e7da9; }

/* buttons */

a.moin-button:link,
a.moin-button:visited,
a.moin-button:hover,
a.moin-button:active { color: #000; text-decoration: none; }
.moin-button { background: #aed4fa; border: 1px solid #00417F; border-radius: 6px; cursor: pointer;
    font-size: 0.75em; font-weight: bold; padding: 4px 15px; margin: .3em; }
.moin-button:hover,
.moin-button:focus { box-shadow: 2px 2px 1px #000; outline: none; }
.moin-button.active {background: #00417f; color: #fff; }

/* table of contents (div.toc is for markdown parser) */
div.moin-table-of-contents,
div.toc { border: 1px solid #4e7da9; color: #000; background: #fff; font-size: 80%; margin: .5em 0 .75em 1em;
    padding: .5em .75em .5em .5em; text-indent: -1em; max-width: 35%; text-align: left; float: right;
    clear: both; box-shadow: 3px 3px 6px #9d9d9b; border-radius: 15px; }
div.moin-table-of-contents ol,
div.toc ul { margin: 0; padding: 0 0 0 .92em; }
div.moin-table-of-contents li,
div.toc li { margin: .12em 0 0 0; padding: 0; list-style: none; }
div.moin-table-of-contents-heading { font-weight: bold; padding: 0; margin: 0 0 .5em 1em; letter-spacing: .075em; }

/* Global Index */

.moin-clr { clear: both; }
.moin-index-menu li { display: inline-block; }
#moin-create-new-item { float: right; }
.moin-show-action: after { content: url("../img/moin-moveup.png"); margin: 0 .2em; }
.moin-action-visible .moin-show-action: after { content: url("../img/moin-movedown.png"); margin: 0 .2em; }
.moin-select-allitem { display: inline-block; cursor: default; text-align: left; }
.moin-select-all { padding: .5em; color: #00008b; background: #eef1f6; border: 1px solid #4e7da9; text-align: left; }
.moin-index-message { width: 50%; margin: 1em auto; text-align: center; display: none; }
.moin-index-message span { padding: 4px; background-color: #d8dfe9; color: #000; }
.moin-download-link { display: none; }
.moin-contenttypes-wrapper { margin: .5em 0; }
.moin-contenttypes-wrapper div { cursor: pointer; margin: .1em; padding: .5em 1.2em .5em .5em; height: 1em; }
div.moin-ct-shown { background: #d8dfe9 url("../img/moin-movedown.png") no-repeat center right; color: #000; }
div.ct-hide { background: transparent url("../img/moin-moveup.png") no-repeat center right; }
.moin-contenttypes-wrapper form { border-top: 1px solid #4e7da9; z-index: 2; background: #fff; border: 1px solid #4e7da9; padding: .2em; display: none; }
.moin-contenttypes-wrapper ul li { list-style-type: none; }
.moin-contenttypes-wrapper ul li label { display: inline; vertical-align: middle; }
.moin-contenttypes-wrapper ul li .helper-text { font-size: .7em; color: #737373; }
.moin-contenttypes-wrapper ul li a { font-size: 80%; }
.moin-contenttypes-wrapper form input[type="submit"] { margin-left: 22%; padding-left: 20%; padding-right: 20%; }
.moin-contenttypes-wrapper: hover div { background-color: #d8dfe9; color: #1f9ae0; }
.moin-filter-toggle { margin: 0 .2em; font-size: 90%; }
.moin-more-index { background: transparent url("../img/moin-expand.png") no-repeat; display: inline-block; width: 20px; }
.moin-more-index: hover { text-decoration: none; }
.moin-index-path { margin-left: .5em; }
.moin-index-path: before { content: url("../img/moin-parent.png"); margin: 0 .3em; }
.moin-path-separator { font-size: 120%; color: #00008b; }
.moin-index-separator { clear: both; border-top: 1px solid #4e7da9; width: 99%; margin-left: .5%; display: none; }

#moin-initials { width: 90%; margin: 5px auto; text-align: center; }
#moin-initials a { display: inline-block; margin: 2px 1px; padding: 4px 5px; }
#moin-initials a.selected { background: #00008b; border-radius: 5px; color: #fff; text-decoration: none; }
.moin-item-index { width: 99%; margin-left: .5%; }
.moin-item-index div { float: left; width: 15em; }
.moin-item-index div .moin-select-item { display: inline-block; width: 17px; cursor: default; }
.moin-align-right { text-align: right; float: right; }
.moin-align-right ul { margin: 0; padding: 0; }
.moin-align-right ul li.action-bar { list-style-type: none; display: inline-block; *display: inline; zoom: 1; }

#popup { padding: 0; width: 80%; position: absolute; top: 10%; left: 10%; display: none; z-index: 10; border: 3px solid #00417f; }
.popup-header { background-color: #00417f; color: #fff; font-size: 1em; padding: 10px; margin: 0; }
.popup-closer.popup-cancel { background-color: red; color: #fff; font-size: 1em; padding: 1px 4px; margin: 0; float: right; cursor: pointer; border: none; border-radius: 0; }
.popup-closer: hover { background-color: #1f9ae0; color: #cfcfcf; }
.popup-body { clear: both; background-color: #fff; color: #000; padding: 10px; margin: 0; }
.popup-body label { margin: 5px; display: block; font-weight: bold; }

.popup-body input[type="text"] { width: 96%; }
.popup-body input.blank { border-color: #4e7da9; border-width: 2px; }
.popup-container { margin: 0; }
#lightbox { background: #fff; opacity: .7; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 9; margin: 0; display: none; }

/* file upload on global index, class names required by jquery fileupload */

#moin-upload-cont { min-height: 10px; }
#file_upload { margin-top: 2em; }
form.upload_file { cursor: pointer; font-weight: bold; height: 2.5em; line-height: 2.5em; overflow: hidden; position: relative; text-align: center; width: 15em; }
form.upload_file { display: block; }
form.upload_file: hover { color: #fff; }
form.upload_file input { cursor: pointer; height: 100%; margin: 0; opacity: 0; position: absolute; right: 0; top: 0; }
form.upload_file button { display: none; }

.file_upload_template .file_upload_start { visibility: hidden; border-width: 0; padding: 0; }
.file_upload_template .file_upload_start button { width: 0; }
.upload-form { display: none; }
.moin-drag { font-size: .7em; color: #737373; }
.file_name { word-break:  break-all; word-wrap:  break-word; max-width:  10em; }

/* Forms - User Settings, rename, delete, destroy, register, diff... */

.moin-tabs .moin-tab-titles a{ color: #00008b; }
.moin-tab-titles{ margin: 0; padding: -10px 0 0; list-style: none; border-bottom: 3px solid #4e7da9; }
.moin-tab-titles li { display: inline-block; *display: inline; zoom: 1; margin: 10px 0 -3px; padding: 0 5px; border-bottom: 3px solid #4e7da9; }
.moin-tab-titles a { display: inline-block; padding: 4px; background-color: #eef1f6; border-width: 1px 1px 0; border-style: solid; border-color: #4e7da9; color: #00008b; border-top-left-radius: 7px; border-top-right-radius: 7px; }
.moin-tab-titles a: hover { background-color: #d8dfe9; text-decoration: none; }
.moin-tab-titles a.moin-current-tab { background: #d8dfe9; padding-top: 8px; margin-top: -4px; }
.moin-tab-titles .moin-change-indicator { font-weight: bold; color: #1f9ae0; }
.moin-current-form h2 { display: none; }
.moin-settings-head a { color: #000; text-decoration: none; }

.moin-form dd { float: left; width: 70%; margin: .3em 0 .1em 0; }
.moin-form dd input { width: 75%; }
.moin-form dt { clear: both; float: left; width: 25%; text-align: right; margin-top: .3em; padding-right: 1%; }
.moin-form dt label.required: after { content: '*'; color: #000; }
.moin-form button,
.moin-form input[type="submit"] { clear: both; display: block; margin: auto; }
.moin-form dl  { margin-bottom: 2em; }
.moin-float-fix { clear: both; padding-top: .75em; }

#options dd { width: 10%; }
#options dt { width: 60%; max-width: 40em; }
#subscriptions textarea { width: 80%; max-width: 40em; }
