/*
    CSS variables allow themes to easily override the colors used within common.css.

    Themes wanting to override the common.css colors should copy this file to the themes
    /static/css/ directory (sibling of theme.css) and modify as desired.

    If a color usage defined here is too broad for your theme, you must define a new variable
    here and change common.css, then copy similar changes to your themes variables.css.
*/

:root {

    /* colors used for text and borders */
    --text: #000;  /* base text color */
    --text2: #737373;  /* font color for disabled, missing... TODO rename to text-disabled*/
    --text3: #666;  /* font color for disabled, missing... TODO: combine with #737373? */
    --text4: #939393;  /* text color for non-existent, TODO: combine with #737373? */
    --text5: #808080;  /* subdued text and borders, TODO: combine with #737373? */
    --text-error: #FF2727;  /* text error messages */
    --text-disabled: #CCC;  /* disabled ACL rule text, TODO: combine with #737373? */
    --text-hover: #CFCFCF;  /* mouseover effect on global index popup TODO eliminate or merge with #CCC */
    --text-suggestions: #FF9900;  /* search suggestions */
    --text-inverse: #FFF;  /* inverse font color, invisible border within ACL report TODO: 0px for border? */
    --overlay: #428BCA;  /* transclusion border and font */
    --hilite: #1F9AE0;  /* mouseover contenttype, user setting change * TODO combine with ? */
    --comment: #555;  /* text color of visible comments TODO: combine with #737373? */
    --link: #00008B;  /* links, link separators */
    --link2: #1409B9;  /* links, button text TODO combine with #00008B? */
    --link3: blue;  /* bookmark links on global history, mouseover links on wiki config help TODO merge with 00008B*/
    --border: #4E7DA9;  /* border color used on tables, heading underline, horizontal rule background, TOC, user settings, history */
    --border: #E5E5E5;  /* border color around error/warning text */
    --border2: #000;  /* buttons and parser blocks, TODO combine with E5E5E5? */
    --border3: #737373;  /* non-existent objects, TODO combine with E5E5E5? */
    --border4: #00417F;  /* button borders TODO rename to button-border? */
    --border5: #AEBDCC;  /* border color for user defined block with class of code, dashed, dotted, TODO combine with E5E5E5? */
    --border6: #808080;  /* border color for start of footnotes, TODO combine with E5E5E5? */
    --alert: #FF0000;  /* alert messages text and/or borders */
    --misc: #008000;  /* meta data search hits and default ACL rules TODO choose better colors and names */

    /* background colors */
    --bg-color: #FFF;  /* main background color */
    --bg-color2: #EEE;  /* zebra tables, disabled buttons, missing items, TODO combine with #CCC */
    --bg-heading: #C9E2F8;  /* table headings and footers, captions, history and ACL report headings */
    --bg-trans-hover: #E1EDF7;  /* mouseover effect on transclusion corners */
    --bg-color-inverse: #00008B;  /* selected initials within global index */
    --bg-color-hover: #1f9ae0;  /* hover background for popup close button TODO use different color */
    --bg-missing: #939393;  /* non-existent object TODO single use? combine with #CCC */
    --bg-disabled: #CCC;  /* disabled text, preformated text comment */
    --bg-code: #F3F5F7;  /* pre and code blocks */
    --bg-button: #00417F;  /* button and global index popup header */
    --bg-button2: #AED4FA;  /* button background */
    --bg-selected: #D8DFE9;  /* selected tab or mouseover action */
    --bg-error: #F9F9FF;  /* error messages */
    --bg-diff: #C0C0C0;  /* diff line number TODO combine with #CCC? */
    --bg-diff-added: #e0ffe0;  /* highlight diff added text TODO used? combine with #80ff80 */
    --bg-diff-added2: #80ff80;  /* highlight diff added text within a span*/
    --bg-diff-removed: #FFFF80;  /* highlight diff removed text */
    --bg-diff-removed2: #FFFFE0;  /* highlight diff removed text TODO used? combine with #FFFF80 */
    --bg-diff-hilite: #FFFFC0;  /* javascript uses to highlight changed block of text after click on diff view */
    --bg-tabs: #EEF1F6;  /* unselected user settings tabs */
    --bg-alert: #FF0000;  /* close button on global index popup */
    --bg-message: #FFEEEE;  /* flash and load draft messages */
    --bg-hilite: #FFFF00;  /* searched text hits generated by highlight converter */
    --bg-comment: #DDDDFF;  /* user defined comments, hidden/shown by user settings or action {{{#!wiki solid comment... */
    /* red, green, blue, yellow, and orange are documented for use by editors */
    --bg-user-red: #FCC;  /* user defined background color {{{#!wiki red... */
    --bg-user-green: #CFC;  /* user defined background color {{{#!wiki green... */
    --bg-user-blue: #CCF;  /* user defined background color {{{#!wiki blue... */
    --bg-user-yellow: #FFF29F;  /* user defined background color {{{#!wiki yellow... */
    --bg-user-orange: #FFD59B;  /* user defined background color {{{#!wiki orange... */

}
